
.acym__search__button {
    height: auto;
    align-self: stretch;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem;

    [class^="acymicon-"], [class*=" acymicon-"] {
        font-size: 16px;
        font-style: inherit;
    }

    &.button {
        background-color: $light-blue;

        &:hover, &:focus {
            background-color: $light-blue;
        }

        &:active {
            transform: none;
        }
    }
}
