#acym__header__banner__news {
    margin: -20px -20px 20px -20px;
}

#acym_header {
    background-color: $white;
    border-radius: $border-radius;
    padding: $global-padding;
    box-shadow: $primary-box-shadow;

    #acym__check__version__last__check {
        color: $white;
    }

    .acym-logo {
        display: block;
        width: 35px;
        height: 35px;
        background: url(../images/logos/logo_acym.svg);
        background-repeat: no-repeat;
    }

    .input-group {
        margin: 0;
    }

    .breadcrumbs {
        margin: 0;

        li {
            text-transform: none;
            font-size: 18px;
            line-height: inherit;

            a {
                text-decoration: none;
                color: $color-palette-dark-blue;
            }

            &::after {
                content: '';
                margin: 0;
            }

            &.breadcrumbs__separator i {
                line-height: 30px;
            }

            &.last_link, &.last_link a {
                font-size: 18px;
                vertical-align: initial;
                color: $color-palette-dark-blue;
                font-weight: 500;
            }

            &.last_link a {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: calc(100% - 0px);
                display: inline-block;
            }
        }
    }

    #acym_global_navigation {
        margin: 3px 1rem 0 1rem;
    }

    a[type="button"], .acym__header__notification {
        margin: -5px 5px -3px 5px;
        height: 44px;
        width: 44px;
    }

    .button_header {
        --bg-color-button-header: #{$blue-light};
        --color-button-header-icon: #{$blue-night-primary};

        // hover
        --bg-color-button-header-hover: #{$blue-primary};
        --color-button-header-icon-hover: #{$white};

        color: var(--color-button-header-icon);
        background-color: var(--bg-color-button-header);
        border-radius: 4px;
        transition: .3s background-color;

        i {
            font-size: 1.8rem;
            color: var(--color-button-header-icon);
            transition: .3s color;
        }

        &:hover {
            transition: .3s background-color;
            color: var(--color-button-header-icon-hover);
            background-color: var(--bg-color-button-header-hover);

            > i {
                color: var(--color-button-header-icon-hover);
                transition: .3s color;
            }
        }
    }

    #acym_level_version_area {
        float: right;
        font-weight: 600;

        .acy_updateversion {
            &:hover {
                color: $alert-color !important;
            }
        }


        .acyversion_uptodate, .acy_updateversion {
            font-weight: 600;
        }
    }

    @media screen and (max-width: 1024px) {
        #acym_level_version_area {
            float: none;
        }
    }

    #checkVersionArea {
        padding: 0 1rem;
        font-size: 12px;
        line-height: 17px;

        #acym_expiration {
            text-align: right;
            font-weight: 600;

            a:hover {
                transition: .2s;
                color: $alert-color !important;
            }

            .credits_remaining {
                a {
                    color: $dark-blue;

                    &:hover {
                        color: $blue !important;
                    }
                }
            }

            &:dir(rtl) {
                text-align: left;
            }
        }
    }

    :root {
        --shadow-color: #{rgba(80, 80, 80, .4)};
    }

    @mixin notificationButtonColor($level) {
        @if $level == 'success' {
            --bg-color-button-header: #{$green-light};
            --color-button-header-icon: #{$green-secondary};
            --bg-color-button-header-hover: #{$green-secondary};
        } @else if $level == 'info' {
            --bg-color-button-header: #{$blue-light};
            --color-button-header-icon: #{$blue-night-primary};
            --bg-color-button-header-hover: #{$blue-night-primary};
        } @else if $level == 'warning' {
            --bg-color-button-header: #{$orange-light};
            --color-button-header-icon: #{$orange};
            --bg-color-button-header-hover: #{$orange};
        } @else if $level == 'error' {
            --bg-color-button-header: #{$red-light};
            --color-button-header-icon: #{$red-secondary};
            --bg-color-button-header-hover: #{$red-secondary};
        } @else {
            --bg-color-button-header: #{$blue-light};
            --color-button-header-icon: #{$blue-night-primary};
            --bg-color-button-header-hover: #{$blue-primary};
        }
        box-shadow: none;

        &.acym__header__notification__pulse {
            animation: pulse 2s;
            animation-iteration-count: infinite;
        }
    }

    .acym__header__notification__button__success {
        @include notificationButtonColor('success');
        background-color: $green-light;
    }

    .acym__header__notification__button__info {
        @include notificationButtonColor('info');
        background-color: $blue-light;
    }

    .acym__header__notification__button__warning {
        @include notificationButtonColor('warning');
        background-color: $orange-light;
    }

    .acym__header__notification__button__error {
        @include notificationButtonColor('error');
        background-color: $red-light;
    }

    @keyframes pulse {
        0% {
            box-shadow: 0 0 8px 2px var(--shadow-color);
        }
        20% {
            box-shadow: 0 0 4px 1px var(--shadow-color);
        }
        40% {
            box-shadow: 0 0 8px 2px var(--shadow-color);
        }
        80% {
            box-shadow: 0 0 4px 1px var(--shadow-color);
        }
        100% {
            box-shadow: 0 0 8px 2px var(--shadow-color);
        }
    }

    .acym__header__notification__center {
        position: fixed;
        visibility: hidden;
        width: 400px;
        height: auto;
        min-height: 75px;
        box-shadow: $box-shadow-button;
        background-color: $light-gray;
        max-height: 500px;
        overflow-y: scroll;
        z-index: 9999;
        border-radius: 5px;
        transform: translateY(-10px);
        transition: transform .3s ease-in-out;

        &.acym__header__notification__center__visible {
            transform: translateY(0);
            visibility: visible;
        }

        .acym__header__notification__toolbox {
            padding: .5rem;
            background-color: $white;

            p {
                font-weight: 500;
                font-size: .9rem;
            }

            div {
                text-decoration: underline;
            }
        }


        @mixin notificationIcon($level) {
            @if $level == 'info' {
                border-left: 4px solid map-get($foundation-palette, primary-hot);
                .acym__header__notification__one__icon i {
                    color: map-get($foundation-palette, primary-hot);
                }
            } @else if $level == 'warning' {
                border-left: 4px solid map-get($foundation-palette, warning);
                .acym__header__notification__one__icon i {
                    color: map-get($foundation-palette, warning);
                }
            } @else {
                border-left: 4px solid map-get($foundation-palette, alert);
                .acym__header__notification__one__icon i {
                    color: map-get($foundation-palette, alert);
                }
            }
            .acym__header__notification__one__icon i {
                font-size: 1rem;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                text-align: center;
                line-height: 50px;
            }
        }

        .acym__header__notification__one {
            cursor: pointer !important;
            align-items: center;
            display: flex;
            transition: max-height .5s ease-in-out, max-height .5s ease-in-out;
            margin-top: 2px;
            background-color: $white;

            h2 {
                font-size: 1rem;
            }

            &.acym__header__notification__one__read {
                opacity: .6;
            }

            .acym__header__notification__message {
                word-break: break-word;
                margin: .7rem 0;
            }

            &.acym__header__notification__one__empty {
                box-shadow: none;
                margin: 0;
                max-height: 75px;
            }

            .acym__header__notification__one__delete {
                font-size: 1.3rem;
                cursor: pointer;
            }

            .acym__header__notification__one__date {
                font-size: .7rem;
                color: $medium-gray;
            }

            &.acym__header__notification__one__info {
                @include notificationIcon('info');
            }

            &.acym__header__notification__one__warning {
                @include notificationIcon('warning');
            }

            &.acym__header__notification__one__error {
                @include notificationIcon('error');
            }
        }
    }
}
