input[type=search].select2-search__field {
    border-radius: 0;

    &:hover, &:active, &:focus {
        border-radius: 0;
    }
}

select[multiple] {
    height: 41px;
    visibility: hidden;
}

.acym_radio_group {
    input[type="radio"] {
        display: none;
    }

    i.acym_radio_checked, i.acym_radio_unchecked {
        cursor: pointer;
        color: $color-palette-dark-blue;
        vertical-align: middle;
        font-size: 1rem;
    }

    &.dcontent_pictures {
        display: inline-block;
    }

    label {
        vertical-align: middle;
    }
}

[type='radio'] {
    margin: .3rem 0 .5rem;
}

[type="checkbox"] {
    margin: 0 !important;
}

input[type='text'], input[type='email'], input[type='tel'], textarea, input[type='password'], input[type="number"] {
    background-color: $white;
    border-color: $dark-gray;
    border-radius: $primary-radius;
    box-shadow: none;
    font-size: 0.8rem;
    color: $color-palette-dark-blue;

    &:focus, &:hover {
        background-color: $white;
        border-color: $color-palette-dark-blue;
        box-shadow: none;
    }

    &.is-invalid-input:not(:focus) {
        background-color: $white;
    }
}

input[type="number"] {
    padding-left: 5px;
}

.input-group {
    & > :first-child {
        border-radius: $primary-radius 0 0 $primary-radius;
    }

    & :last-child {
        border-radius: 0 $primary-radius $primary-radius 0;
    }
}

#acym__wysid__context__follow {
    color: map-get($editor-wysid-palette, primary-ui);
    background-color: $white;

    select {
        color: map-get($editor-wysid-palette, primary-ui);
        border-color: $white;
        background-color: $white;
        box-shadow: none;
    }

    .input-group {
        margin-bottom: 0;
        color: map-get($editor-wysid-palette, primary-ui);
        border-color: $white;
        background-color: $white;
        box-shadow: none;
    }

    .input-group-label {
        border-color: $white;
        background-color: $white;
    }

    .select2-container .select2-selection--single {
        height: 39px;
        border-radius: $primary-radius;
        background-color: map-get($editor-wysid-palette, secondary);
        text-align: center;
        outline: 0;
        border: none;
    }

    .select2-container--default .select2-selection--single {
        .select2-selection__rendered {
            line-height: 39px;
            z-index: 67000;

            span {
                font-size: 18px;
                margin-left: -8px;
                color: map-get($editor-wysid-palette, primary-ui);
            }
        }

        .select2-selection__arrow {
            height: 37px;
        }
    }

}

@media screen and (min-width: 640px) {
    .acym__search-field {
        border-radius: 0 $primary-radius $primary-radius 0;
    }
}

@media screen and (max-width: 639px) {
    .input-group :last-child {
        border-radius: $primary-radius;
    }
}
