#acym_wrapper {
    #acym_stats {
        #acym_stats_detailed {
            .acym_stats_detailed_search {
                margin-right: 20px;
            }

            .acym__listing__detailed__stats__content {
                font-size: .8rem;
                font-weight: normal;

                p {
                    font-size: .8rem;
                }

                &:first-child {
                    padding-left: 20px;
                }

                .acym__listing__detailed_stats_sent__fail {
                    color: map-get($foundation-palette, alert);
                }

                .acym__listing__detailed_stats_sent__success {
                    color: map-get($foundation-palette, success);
                }

                a {
                    line-height: initial;
                }
            }
        }
    }
}
