#acym_wrapper {
    #acym_stats {
        position: relative;

        .acym__listing__row {
            word-wrap: break-word;
            overflow-wrap: break-word;
        }

        .acym__subtitle__stats {
            font-size: 1rem;
            margin-bottom: 2rem;
        }

        #acym__stats__export__global__charts__scope, #acym__wysid__email__preview {
            background-color: $white;
        }

        .acym__stats__export__click-map__charts {
            margin: 0;
        }

        .acym__listing__user_links_details__content__links, .acym__listing__links_details__content__links {
            i {
                font-size: 20px;
                vertical-align: middle;
                margin-left: 10px;
            }
        }

        #acym_stats_overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: $black;
            opacity: .5;
            z-index: 1100;

            .acym_loader_logo {
                svg {
                    height: 100px;
                    width: 100px;
                }
            }
        }

        #acym_stats__select {
            padding: 2rem 0;

            .acym_stats__title__choose {
                font-size: 1.2rem;
                font-weight: 500;
            }

            .acym_stats__title__choose-smaller {
                font-size: .9rem;
            }

            .select2-selection__clear {
                display: none;
            }

            li.select2-selection__choice {
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 95%;
            }
        }

        #acym_stats_global {
            .acym__stats__export {
                text-align: right;
            }

            .acym__stats__campaign__label {
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: bold;
            }

            .acym__stats__chart__title {
                font-size: 25px;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .acym__stats__empty__title__chart__pie {
                font-size: 17px;
                margin-bottom: 10px;
            }

            .acym__stats__chart__line {
                .acym__stats__empty__title__chart__line {
                    font-size: 17px;
                    margin-bottom: 10px;
                }

                h1 {
                    font-size: 25px;
                }

                .acym__stats__chart__date {
                    p {
                        line-height: 37px;
                        padding: 0 10px 0 10px;
                    }
                }
            }

            @media screen and(max-width: 1024px) {
                .acym__chart__donut__improve {
                    margin-top: 20px;
                }
                .acym__stats__chart__date {
                    margin-top: 20px;
                }
            }

            @media screen and(min-width: 639px) {
                .acym__stats__campaign-choose {
                    padding-right: 20px;
                }
            }
        }

        #acym__stats__global__open-time {
            height: 400px;
            width: 100%;
            padding: 60px 15px 30px 15px;
            border: 1px solid $light-gray;
            border-radius: 10px;
        }

        @media screen and (max-width: 850px) {
            .acym__listing__user_links_details__click-date {
                display: none;
            }
        }

        .acym__stats__pie__chart {
            h2 {
                width: 100%;
            }
        }
    }
}
