#acym_wrapper {
    #acym__user__edit {
        .acym__user__edit__custom__fields .grid-margin-x {
            margin: 0;
        }

        .acym__users__display__click {
            max-height: 200px;
        }

        .acym__users__creation__fields__title {
            font-size: 16px;
            font-weight: 400;
        }

        .acym__listing__header__title {
            font-weight: 600;
        }

        .acym__users__creation__fields__checkbox {
            margin-left: 13px;
        }

        .acym__users__display__list__name {
            h6 {
                display: inline-block;
                margin: 0 10px;
                word-break: break-all;
            }

            i {
                line-height: 22px;
                font-size: 22px;
                vertical-align: sub;
            }
        }

        .acym__users__display__list--action {
            text-align: right;
            cursor: pointer;

            i {
                line-height: 22px;
                font-size: 22px;
                vertical-align: middle;
                color: map-get($foundation-palette, alert);
            }

            span {
                margin: 0 5px;
                color: map-get($foundation-palette, alert);
            }

            &:dir(rtl) {
                text-align: left;
            }
        }

        .acym__users__display__delete__icon {
            line-height: 0;
            vertical-align: inherit;
            margin-left: 0;
        }

        .acym__users__display__subscriptions--list {
            margin-top: 2em;

            .button {
                margin: 0;
            }
        }

        #acym__button--delete {
            color: $white;
        }

        .acym__users__display__history {
            padding: 0;

            h2.acym__title__primary__color {
                font-size: 1rem;
            }

            .acym__users__history__toggle {
                .acym__users__history__toggle-button {
                    padding: .9rem;
                    background-color: $tabs-background;
                    cursor: pointer;
                    border-radius: 0;
                    color: $font-primary;

                    &.acym__users__history__toggle-button-selected {
                        background-color: $white;
                        color: $primary-color;
                    }
                }
            }

            [data-acym-type] {
                padding: .9rem;

                &[data-acym-type="user"] {
                    display: none;
                }
            }

            .history_details {
                cursor: pointer;
            }

            .acym__users__display__history__listing {
                max-height: 240px;
                overflow: auto;

                .acym__listing__row {
                    margin: 2px 0;
                    padding: .7rem 0;
                    border-bottom: 1px solid $light-gray;
                    border-radius: 0;
                    box-shadow: none;

                    .acym__users__email__history__subject {
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }

            .acym__listing__header__user_history__bounce {
                overflow: auto;
            }
        }

        @media screen and (max-width: 639px) {
            .acym__users__display__delete {
                padding-top: 1em;
            }

            .modal__pagination__button-open {
                margin-right: 0 !important;
            }

            .acym__users__display__list--action, .acym__users__display__click {
                margin-top: $global-margin;
            }
        }
    }
}
