#acym_wrapper {
    #acym__users {
        .acym__listing__empty {
            [data-task="import"] {
                margin-left: auto;
            }
        }

        .acym__users__subscription {
            padding-left: 7px;
        }

        .acym_subscription_more {
            display: none;
        }

        .acym__user__show-subscription {
            height: inherit;
            width: 25px;
            vertical-align: top;
            cursor: pointer;

            .acym__user__button__showsubscription {
                color: $light-blue;
                margin-top: 0;
            }

            .acym__user__show-subscription-bt {
                margin-top: 5px;
                font-size: 8px;
                font-weight: bold;
                line-height: 1;
            }
        }

        #acym__users__listing__number_to_add_to_list, #acym__users__listing__number_to_export {
            color: inherit;
        }

        i.acymicon-radio_button_unchecked {
            font-size: 19px;
        }
    }

    .button-secondary.disabled #acym__users__listing__number_to_add_to_list {
        color: $white;
    }
}
