#acym_wrapper {
    #acym__templates {
        .acym__template__listing__create__text {
            font-size: 18px;
            font-weight: 700;
        }

        .acym__templates__footer {
            font-weight: bold;
            font-size: 14px;
        }

        .acym__listing__block__icons {
            position: absolute;
            right: 28px;
            top: 28px;
            width: 28px;
            cursor: pointer;
            z-index: 1100;
        }

        .acym__listing__block__duplicate {
            display: none;
        }

        .acym__listing__block__select {
            position: absolute;
            left: 15px;
            top: 15px;

            input[type='checkbox'] {
                width: 22px;
                z-index: 900;
                margin: .5rem !important;

                &:after {
                    color: $font-primary;
                    font-size: 19px;
                }
            }
        }

        .acym__listing__default_template {
            margin-bottom: 10px;
        }

        .acym__listing__block__delete {
            position: absolute;
        }

        .acym__listing__block__export {
            position: relative;
            margin-bottom: .3rem;
            width: 100%;

            i {
                overflow: hidden;
                font-size: 18px;
                margin-right: 0;
            }
        }
    }

    #acym__template__import__reveal {
        position: relative;
        overflow: auto !important;

        #acym__template__import {
            .acym__template__import__info {
                padding: 1rem;
                background-color: $light-gray;
                border-radius: 10px;
            }

            #acym__template__import__image__template {
                width: 250px;
                height: 250px;
            }

            [name="uploadedfile"] {
                display: none;
            }
        }
    }

    a.downloadmore {
        color: #0068b5;
    }
}
