#acym_wrapper {
    #acym__templates {
        .acym__template__listing__create__text {
            font-size: 18px;
            font-weight: 700;
        }

        .acym__templates__footer__title {
            font-weight: bold;
        }

        .acym__listing__block__icons {
            position: absolute;
            width: 40px;
            max-width: 40px;
            height: 40px;
            cursor: pointer;
            overflow: hidden;
            z-index: 1100;
        }

        .acym__listing__block__duplicate {
            display: none;
            right: 18px;
            margin-top: 3px;
            border-radius: 5px;

            i {
                line-height: 40px !important;
                width: 40px;
                overflow: hidden;
                font-size: 26px;
                margin-right: 0;
            }
        }

        .acym__listing__block__select {
            margin-left: 0px;
            margin-top: 0px;
            border-radius: 5px 0 5px 0;
            background-color: rgba(240, 240, 240, 0.5);

            input[type='checkbox'] {
                width: 22px;
                z-index: 900;
                margin: 0.5rem !important;

                &:after {
                    color: $font-primary;
                    font-size: 19px;
                }
            }
        }

        .acym__listing__block__delete {
            top: 55px;
            right: 18px;
        }

        .acym__listing__block__export {
            position: relative;
            padding: .3rem;
            cursor: pointer;
            overflow: hidden;
            border-radius: $primary-radius;
            border: 2px solid $light-gray;
            margin-bottom: .3rem;

            i {
                width: 40px;
                overflow: hidden;
                font-size: 26px;
            }

            &:hover {
                border: 2px solid $dark-blue;
            }
        }
    }

    a.downloadmore {
        color: #0068b5;
    }
}
