
/* Icons font: acymicon */
@font-face {
    font-family: 'acymicon';
    src: url('fonts/acymicon.woff2') format('woff2'), url('fonts/acymicon.woff') format('woff');
}
#acym_wrapper [class^="acymicon-"], #acym_wrapper [class*=" acymicon-"], [class^="acymicon-"], [class*=" acymicon-"]  {
    font-family: 'acymicon';
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.acymicon-access-time::before {
    content: "\e5d1";
}

.acymicon-action::before {
    content: "\e0c7";
}

.acymicon-add-thin::before {
    content: "\f296";
}

.acymicon-add::before {
    content: "\f25c";
}

.acymicon-address-book-o::before {
    content: "\f315";
}

.acymicon-aid-kit::before {
    content: "\f600";
}

.acymicon-arrow-circle-o-up::before {
    content: "\f64d";
}

.acymicon-arrow-down-thin::before {
    content: "\f3db";
}

.acymicon-arrow-down::before {
    content: "\f2f7";
}

.acymicon-arrow-up-thin::before {
    content: "\f642";
}

.acymicon-arrow-up::before {
    content: "\e130";
}

.acymicon-arrows-h::before {
    content: "\e636";
}

.acymicon-arrows::before {
    content: "\f61b";
}

.acymicon-autorenew::before {
    content: "\f3b9";
}

.acymicon-ban::before {
    content: "\efca";
}

.acymicon-bar-chart::before {
    content: "\f21f";
}

.acymicon-bell::before {
    content: "\f6d4";
}

.acymicon-book::before {
    content: "\e2ba";
}

.acymicon-bullhorn::before {
    content: "\f7e7";
}

.acymicon-calendar::before {
    content: "\ed0f";
}

.acymicon-cart-arrow-down::before {
    content: "\f6ee";
}

.acymicon-check-circle::before {
    content: "\e206";
}

.acymicon-check::before {
    content: "\e503";
}

.acymicon-checkbox-checked::before {
    content: "\f0ee";
}

.acymicon-checkbox-empty::before {
    content: "\ead4";
}

.acymicon-chevron-left::before {
    content: "\f82a";
}

.acymicon-chevron-right::before {
    content: "\e805";
}

.acymicon-circle-check-o::before {
    content: "\eafe";
}

.acymicon-circle-o-notch::before {
    content: "\f4ae";
}

.acymicon-circle-o::before {
    content: "\eb83";
}

.acymicon-circle::before {
    content: "\f061";
}

.acymicon-close-thin::before {
    content: "\f85f";
}

.acymicon-close::before {
    content: "\f0f3";
}

.acymicon-code::before {
    content: "\e1be";
}

.acymicon-cog::before {
    content: "\e637";
}

.acymicon-cogs::before {
    content: "\e4a9";
}

.acymicon-content-copy::before {
    content: "\e91a";
}

.acymicon-crop-16-9::before {
    content: "\f129";
}

.acymicon-dashboard::before {
    content: "\ed10";
}

.acymicon-delete::before {
    content: "\e2bc";
}

.acymicon-desktop::before {
    content: "\e2d7";
}

.acymicon-download::before {
    content: "\eb59";
}

.acymicon-edit::before {
    content: "\f05b";
}

.acymicon-ellipsis-h::before {
    content: "\e67d";
}

.acymicon-email::before {
    content: "\f797";
}

.acymicon-exclamation-circle::before {
    content: "\e941";
}

.acymicon-exclamation-triangle::before {
    content: "\edb9";
}

.acymicon-external-link::before {
    content: "\e2b7";
}

.acymicon-eye-slash::before {
    content: "\e1dc";
}

.acymicon-eye::before {
    content: "\eeec";
}

.acymicon-facebook::before {
    content: "\e497";
}

.acymicon-filter::before {
    content: "\e109";
}

.acymicon-flask::before {
    content: "\eb6e";
}

.acymicon-floppy-o::before {
    content: "\f823";
}

.acymicon-folder::before {
    content: "\e2ff";
}

.acymicon-format-align-center::before {
    content: "\f6ef";
}

.acymicon-format-align-justify::before {
    content: "\f4c3";
}

.acymicon-format-align-left::before {
    content: "\e860";
}

.acymicon-format-align-right::before {
    content: "\e58f";
}

.acymicon-format-bold::before {
    content: "\ef56";
}

.acymicon-format-italic::before {
    content: "\f2c1";
}

.acymicon-gif::before {
    content: "\e6ff";
}

.acymicon-group::before {
    content: "\eefa";
}

.acymicon-hand-paper-o::before {
    content: "\e561";
}

.acymicon-handshake-o::before {
    content: "\e5d4";
}

.acymicon-hourglass-2::before {
    content: "\e078";
}

.acymicon-idea::before {
    content: "\f6c8";
}

.acymicon-info-circle::before {
    content: "\e18a";
}

.acymicon-insert-photo::before {
    content: "\f46f";
}

.acymicon-joomla::before {
    content: "\f12a";
}

.acymicon-keyboard-arrow-down-thin::before {
    content: "\f80b";
}

.acymicon-keyboard-arrow-down::before {
    content: "\e8c7";
}

.acymicon-keyboard-arrow-left::before {
    content: "\f2ac";
}

.acymicon-keyboard-arrow-right::before {
    content: "\f3c3";
}

.acymicon-keyboard-arrow-up-thin::before {
    content: "\e872";
}

.acymicon-keyboard-arrow-up::before {
    content: "\e700";
}

.acymicon-lock::before {
    content: "\e0fc";
}

.acymicon-mail-o-open::before {
    content: "\f8f9";
}

.acymicon-mail-o::before {
    content: "\edea";
}

.acymicon-menu::before {
    content: "\e730";
}

.acymicon-minus::before {
    content: "\f76b";
}

.acymicon-mobile::before {
    content: "\f233";
}

.acymicon-more-horizontal::before {
    content: "\e957";
}

.acymicon-movie::before {
    content: "\f42b";
}

.acymicon-paint-format::before {
    content: "\e897";
}

.acymicon-paper-plane::before {
    content: "\f896";
}

.acymicon-pause-circle::before {
    content: "\e258";
}

.acymicon-pencil::before {
    content: "\e91e";
}

.acymicon-pie-chart::before {
    content: "\e758";
}

.acymicon-play-arrow::before {
    content: "\f541";
}

.acymicon-play-circle-filled::before {
    content: "\e537";
}

.acymicon-plus-circle::before {
    content: "\e11e";
}

.acymicon-power-off::before {
    content: "\e1a2";
}

.acymicon-puzzle-piece::before {
    content: "\e170";
}

.acymicon-question-circle-o::before {
    content: "\e6b4";
}

.acymicon-radio-button-checked::before {
    content: "\f470";
}

.acymicon-radio-button-unchecked::before {
    content: "\eeb6";
}

.acymicon-random::before {
    content: "\e5d5";
}

.acymicon-rectangle-bar-chart::before {
    content: "\e101";
}

.acymicon-repeat::before {
    content: "\e8ac";
}

.acymicon-rotate-left::before {
    content: "\f3f4";
}

.acymicon-search::before {
    content: "\f439";
}

.acymicon-sort-amount-asc::before {
    content: "\ec46";
}

.acymicon-sort-amount-desc::before {
    content: "\f588";
}

.acymicon-sort::before {
    content: "\f4ef";
}

.acymicon-star-o::before {
    content: "\f645";
}

.acymicon-star::before {
    content: "\f0a3";
}

.acymicon-text-fields::before {
    content: "\e214";
}

.acymicon-th::before {
    content: "\f385";
}

.acymicon-times-circle::before {
    content: "\ef08";
}

.acymicon-title::before {
    content: "\e053";
}

.acymicon-tools::before {
    content: "\e056";
}

.acymicon-transfer::before {
    content: "\e03c";
}

.acymicon-trigger::before {
    content: "\f873";
}

.acymicon-unfold-more::before {
    content: "\e563";
}

.acymicon-unlock::before {
    content: "\e7d5";
}

.acymicon-unsplash::before {
    content: "\e411";
}

.acymicon-upload::before {
    content: "\e212";
}

.acymicon-user-check::before {
    content: "\e797";
}

.acymicon-user-minus::before {
    content: "\e0ff";
}

.acymicon-user-plus::before {
    content: "\e5d7";
}

.acymicon-user::before {
    content: "\e09c";
}

.acymicon-vertical-align-bottom::before {
    content: "\eae5";
}

.acymicon-vertical-align-top::before {
    content: "\e307";
}

.acymicon-window::before {
    content: "\ed81";
}

.acymicon-wordpress::before {
    content: "\e674";
}
