.vertical-align-middle {
    vertical-align: middle;
}

.vertical-align-top {
    vertical-align: top;
}


.align-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.margin-auto {
    margin: 0 auto;
}

.acym_center_baseline {
    align-self: baseline;
}

.acym_vcenter {
    align-items: center;
    display: flex;
}


.acym-grid-margin-x > .cell {
    margin-left: 0.15rem !important;
    margin-right: 0.15rem !important;
}

.acym-grid-margin-x > .large-1 {
    width: calc(8.33333% - .3rem) !important;
}

.acym-grid-margin-x > .large-2 {
    width: calc(16.66667% - .3rem) !important;
}

.acym-grid-margin-x > .large-3 {
    width: calc(24.99% - .3rem) !important;
}

.acym-grid-margin-x > .large-4 {
    width: calc(33.33333% - .3rem) !important;
}

.acym-grid-margin-x > .large-5 {
    width: calc(41.66667% - .3rem) !important;
}

.acym-grid-margin-x > .large-6 {
    width: calc(50% - .3rem) !important;
}

.acym-grid-margin-x > .large-7 {
    width: calc(58.33333% - .3rem) !important;
}

.acym-grid-margin-x > .large-8 {
    width: calc(66.66667% - .3rem) !important;
}

.acym-grid-margin-x > .large-9 {
    width: calc(75% - .3rem) !important;
}

.acym-grid-margin-x > .large-10 {
    width: calc(83.33333% - .3rem) !important;
}

.acym-grid-margin-x > .large-11 {
    width: calc(91.66667% - .3rem) !important;
}

.acym-grid-margin-x > .large-12 {
    width: calc(100% - .3rem) !important;
}

.acym-grid-margin-x > .medium-1 {
    width: calc(8.33333% - .3rem) !important;
}

.acym-grid-margin-x > .medium-2 {
    width: calc(16.66667% - .3rem) !important;
}

.acym-grid-margin-x > .medium-3 {
    width: calc(24.99% - .3rem) !important;
}

.acym-grid-margin-x > .medium-4 {
    width: calc(33.33333% - .3rem) !important;
}

.acym-grid-margin-x > .medium-5 {
    width: calc(41.66667% - .3rem) !important;
}

.acym-grid-margin-x > .medium-6 {
    width: calc(50% - .3rem) !important;
}

.acym-grid-margin-x > .medium-7 {
    width: calc(58.33333% - .3rem) !important;
}

.acym-grid-margin-x > .medium-8 {
    width: calc(66.66667% - .3rem) !important;
}

.acym-grid-margin-x > .medium-9 {
    width: calc(75% - .3rem) !important;
}

.acym-grid-margin-x > .medium-10 {
    width: calc(83.33333% - .3rem) !important;
}

.acym-grid-margin-x > .medium-11 {
    width: calc(91.66667% - .3rem) !important;
}

.acym-grid-margin-x > .medium-12 {
    width: calc(100% - .3rem) !important;
}


.acym-grid-margin-x > .small-1 {
    width: calc(8.33333% - .3rem) !important;
}

.acym-grid-margin-x > .small-2 {
    width: calc(16.66667% - .3rem) !important;
}

.acym-grid-margin-x > .small-3 {
    width: calc(24.99% - .3rem) !important;
}

.acym-grid-margin-x > .small-4 {
    width: calc(33.33333% - .3rem) !important;
}

.acym-grid-margin-x > .small-5 {
    width: calc(41.66667% - .3rem) !important;
}

.acym-grid-margin-x > .small-6 {
    width: calc(50% - .3rem) !important;
}

.acym-grid-margin-x > .small-7 {
    width: calc(58.33333% - .3rem) !important;
}

.acym-grid-margin-x > .small-8 {
    width: calc(66.66667% - .3rem) !important;
}

.acym-grid-margin-x > .small-9 {
    width: calc(75% - .3rem) !important;
}

.acym-grid-margin-x > .small-10 {
    width: calc(83.33333% - .3rem) !important;
}

.acym-grid-margin-x > .small-11 {
    width: calc(91.66667% - .3rem) !important;
}

.acym-grid-margin-x > .small-12 {
    width: calc(100% - .3rem) !important;
}
