.button {
    border: 0;
    min-height: 0;
    padding: 0.85em 1em;
    font-weight: 500;
    font-size: 0.8rem;
    height: auto;

    &.disabled {
        opacity: 0.4;
    }

    &.acym__search__button {
        padding: 0 1rem;
    }

    &.button-secondary {
        border: none;
        background-color: $light-blue !important;
        color: $primary-color !important;
        transition: .2s;
        font-weight: 500;

        &:hover {
            opacity: 0.7;
            border: none !important;
            background-color: $light-blue;
            color: $primary-color;
        }

        &:disabled {
            opacity: 0.4;
        }
    }

    &.hollow.is-active {
        color: white !important;
        background-color: $primary-color !important;

        &:focus {
            color: white;
            background-color: $primary-color;
        }
    }

    &.light_button {
        padding: .6rem .8rem;
        font-size: 0.7rem;
        min-height: 0;
        margin-bottom: 0;

        &.light_button_grey {
            background-color: grey;

        }
    }

    &.button-cancel {
        border: 2px solid $alert-color;
        color: $alert-color;
        background-color: transparent;
    }

    &.clear.secondary,
    &.clear.secondary.disabled,
    &.clear.secondary[disabled],
    &.clear.secondary:hover,
    &.clear.secondary:hover.disabled,
    &.clear.secondary:hover[disabled],
    &.clear.secondary:focus,
    &.clear.secondary:focus.disabled,
    &.clear.secondary:focus[disabled] {
        padding: 0 3px;
        margin: 0;
        height: auto;
        border: 0 !important;
        background-color: transparent !important;
        font-size: .8rem;
    }

    &.acym__button__cancel {
        color: $alert-color;
        background-color: $white;
        border: 1px solid $alert-color;
        transition: .2s;
        position: relative;

        &:hover, &:focus {
            background-color: $white;
            color: $alert-color;
            opacity: .7;
        }
    }
}

.acym__list__button__add__mail__welcome__unsub {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: $light-gray;
    box-shadow: 0 0 15px 2px #ebebeb;

    &:hover, &:focus {
        color: $white;

        i {
            font-size: 90px;
        }
    }

    i {
        transition: all .2s ease;
        font-size: 70px;
    }
}

#dtext_subject_button {
    padding: 5px;
    min-height: inherit;

    i {
        color: white !important;
        width: 40px;
        height: 20px;
        font-size: 20px;
    }
}

.acym__type__choosen {
    height: 39px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: .85em 1em !important;

    &:hover {
        background-color: $primary-color !important;
        color: $white !important;
        opacity: 0.8 !important;
    }

    &:first-of-type {
        border-radius: $primary-radius 0 0 $primary-radius;
    }

    &:last-of-type {
        border-radius: 0 $primary-radius $primary-radius 0;
    }
}

.acym__input__file {
    span {
        line-height: 35px;
        font-weight: 500;
    }
}

.button-radio {
    border: 2px solid map-get($foundation-palette, primary-light);
    padding: 1rem;
    color: map-get($foundation-palette, primary-light);
    cursor: pointer;
    transition: .2s;
    transition-property: color, border;
    box-shadow: 0 0 4px 2px rgba(100, 100, 100, .1);

    &:hover {
        border-color: map-get($foundation-palette, primary);
        color: map-get($foundation-palette, primary);
    }
}

.button-radio-unselected {
    border-color: $light-gray !important;
    color: $light-gray !important;

    box-shadow: none !important;
}

.acym__status__select {
    color: map-get($foundation-palette, primary-light) !important;
}

.disabled-button {
    opacity: 0.4;
    cursor: not-allowed;
}

button {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    border: 0;

    &[data-task], &[data-step], &.acym__toolbar__button {
        i {
            font-size: 15px;
            vertical-align: middle;
            margin-right: 6px;
        }
    }
}

.unselected {
    background-color: $primary-color-unselected;
}
