.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    min-height: 40px;
    height: auto;
    min-width: 100px;
    max-width:100%;
    padding: 0 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: $font-weight-semi-bold;
    font-size: 14px;
    box-shadow: none;
    background-color: $color-palette-cyan;
    color: $white;
    border: 1px solid $color-palette-cyan;
    transition: .2s ease-in-out;

    &:hover {
        background-color: $blue-secondary;
        border: 1px solid $blue-green;

        &:active {
            background-color: $color-palette-dark-blue;
            border: 1px solid $color-palette-dark-blue;
        }
    }

    &.button-full-width {
        width:100%;
    }

    &.button-secondary {
        background-color: $white;
        color: $color-palette-cyan;

        &:hover {
            background-color: $blue-green;
            border: 1px solid $blue-green;
            color: $white;

            span {
                color: $white;
            }

            &:active {
                background-color: $color-palette-dark-blue;
                border: 1px solid $color-palette-dark-blue;
                color: $white;

                span {
                    color: $white;
                }
            }
        }

        &:disabled {
            background-color: $white;
            border: 1px solid $dark-gray;
            color: $dark-gray;

            span {
                color: $dark-gray;
            }
        }

        span {
            color: $color-palette-cyan;
        }
    }

    // The !important markers are there because of WordPress
    &.disabled:not(.clear), &[disabled]:not(.clear) {
        background-color: $very-light-gray !important;
        border: 1px solid $very-light-gray !important;
        color: $white !important;
        opacity: 1;
    }

    &.clear.secondary,
    &.clear.secondary.disabled,
    &.clear.secondary[disabled],
    &.clear.secondary:hover,
    &.clear.secondary:hover.disabled,
    &.clear.secondary:hover[disabled],
    &.clear.secondary:focus,
    &.clear.secondary:focus.disabled,
    &.clear.secondary:focus[disabled] {
        padding: 0 3px;
        margin: 0;
        height: auto;
        border: 0 !important;
        background-color: transparent !important;
        font-size: .8rem;
    }

    &.acym__button__cancel {
        color: $alert-color;
        background-color: $white;
        border: 1px solid $alert-color;
        transition: .2s;
        position: relative;
        display: flex;

        &:hover {
            background-color: $alert-color;
            color: $white;

            &:active {
                background-color: $red;
                border: 1px solid $red;
                color: $white;

                span {
                    color: $white;
                }
            }
        }

        span {
            color: $alert-color;
        }
    }

    i {
        font-size: 18px;
        vertical-align: middle;
        margin-right: 8px;
    }

    span {
        color: $white;
    }
}

// Relative / Specific date selection field
.acym__type__choosen {
    &:first-of-type {
        border-radius: $primary-radius 0 0 $primary-radius;
    }

    &:last-of-type {
        border-radius: 0 $primary-radius $primary-radius 0;
    }

    &.is-active {
        background-color: $blue-green;
        border: 1px solid $blue-green;
        color: $white;
    }
}

.button-radio {
    border: 1px solid $light-gray;
    padding: .5rem;
    color: $color-palette-dark-text;
    cursor: pointer;
    transition: .2s;
    transition-property: color, border;

    &.button-radio-selected {
        color: $color-palette-cyan;
        border: 1px solid $color-palette-cyan;
    }
}

.button-radio-unselected {
    border-color: $light-gray !important;
    color: $light-gray !important;
    box-shadow: none !important;
}

.acym__status__select {
    color: $color-palette-cyan !important;
}

button {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    border: 0;
}

.unselected {
    background-color: $primary-color-unselected;
}
