@import "iconContent/checkbox_empty";
@import "iconContent/checkbox_checked";

[type="checkbox"] {
    margin: 0;
    border: 2px solid $color-palette-dark-blue;
    border-radius: 2px;
    background: $white;
    @include appearance('none');
    line-height: 36px;

    &:checked {
        background-color: $color-palette-dark-blue;

        &:before {
            margin: -3px 0 0 -6px;
            font-size: 28px;
            color: $white;
        }

        //Fix for firefox
        @-moz-document url-prefix() {
            &:before {
                margin: -4px 0 0 -6px;
            }
        }
    }

    width: 22px;
    height: 22px;
}

