.c-datepicker__day-body:hover {
    background-color: #b2e4ff !important;
    border-radius: 30px !important;
}

.c-datepicker, .c-scrim {
    z-index: 99999;
}

.c-datepicker *, .c-datepicker {
    box-sizing: content-box;
}

#acym_wrapper {
    .acy_date_picker {
        cursor: pointer;
    }

    input.rs_date_field {
        margin: 0;
        width: 160px;
    }

    .date_rs_selection_popup {
        margin-top: 1.5rem;

        .acy_date_picker {
            cursor: pointer !important;
        }
    }
}
