.acym__email__preview {
    position: relative;
    padding-bottom: 800px;
    padding-top: 30px;
    height: auto;
    overflow: hidden;
    border-radius: $primary-radius;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}