@font-face {
    font-family: 'tinymce';
    src: url('../js/tinymce/skins/lightgray/fonts/tinymce.eot');
    src: url('../js/tinymce/skins/lightgray/fonts/tinymce.eot?#iefix') format('embedded-opentype'),
    url('../js/tinymce/skins/lightgray/fonts/tinymce.woff') format('woff'),
    url('../js/tinymce/skins/lightgray/fonts/tinymce.ttf') format('truetype'),
    url('../js/tinymce/skins/lightgray/fonts/tinymce.svg#tinymce') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

#acym_wrapper {
    .acym__title__light__blue {
        font-size: 20px;
        font-weight: bold;
        color: $color-palette-cyan;
    }

    .acym_word-break {
        word-break: break-word;
    }

    .acym__title__primary__color {
        font-size: 20px;
        font-weight: bold;
    }

    .acym__content__title__dark-blue {
        color: $primary-color;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 1rem;
    }

    // Keep this class, it's used in old versions of addons/plugins
    .acym__content__title__light-blue {
        color: $color-palette-cyan;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 1rem;
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
    }

    h1, h2, h3, h4, h5, h6, p, a, div, span {
        color: $font-primary;
        font-family: $primary-font-family;
    }

    a {
        color: $font-primary;
        font-family: $primary-font-family;

        &:focus {
            box-shadow: none;
        }
    }

    i {
        font-size: 26px;
        line-height: 1;
        font-style: inherit !important;
    }

    .acym_text_ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .acym__title {
        color: $color-palette-dark-blue;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0;
        text-align: left;
        margin-bottom: 1rem;

        &.acym__title__secondary {
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 28px;
        }

        &.acym__title__tertiary {
            font-size: .9rem;
            font-weight: 900;
            line-height: 20px;
        }

        &.text-center {
            text-align: center;
        }
    }

    .acym_not_bold {
        font-weight: normal !important;
    }
}


