/* Date picker icons on after */
.acymicon-grid_on {
    &:before {
        content: "" !important;
    }

    &:after {
        content: "\e92a";
    }
}

.acymicon-access_time {
    &:before {
        content: "" !important;
    }

    &:after {
        content: "\e92b";
    }
}

// Spin icons
@-moz-keyframes acy-spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes acy-spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes acy-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.acymicon-spin {
    -webkit-animation: acy-spin 4s linear infinite;
    -moz-animation: acy-spin 4s linear infinite;
    animation: acy-spin 4s linear infinite;
    display: inline-block;
}

// Stack icons
.acymicon-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
}

.acymicon-stack-1x, .acymicon-stack-2x {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.acymicon-stack-2x {
    font-size: 2em;
}

.acymicon-stack-1x {
    line-height: inherit;
}

#acym_wrapper {
    .rotate180deg:before {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        display: inline-block;
    }

    .centered_spinner {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 26px;
    }
}

#acym_wrapper {
    .acym__icon {
        --icon-background-color: #{$blue-light};
        --icon-color: #{$blue-night-primary};
        --icon-size: 24px;
        --icon-font-size: 1.1rem;

        // hover
        --icon-background-color-hover: #{$blue-primary};
        --icon-color-hover: #{$white};

        line-height: calc(var(--icon-size) + 4px);
        font-size: var(--icon-size);
        text-align: center;
        height: calc(var(--icon-size) + 4px);
        width: calc(var(--icon-size) + 4px);
        border-radius: $primary-radius;
        background-color: var(--icon-background-color);
        color: var(--icon-color);
        display: block;
        transition: background .3s, color .3s;
        cursor: pointer;

        i {
            font-size: var(--icon-font-size);
            color: var(--icon-color);
        }

        &:hover {
            background-color: var(--icon-background-color-hover);

            i {
                color: var(--icon-color-hover);
            }
        }

        &__table {
            display: flex;
            gap: 10px;
            justify-content: center;
        }
    }
}
