.input-group {
    margin-bottom: 0;
}

.margin-y {
    margin-bottom: -1rem;

    & > .cell {
        margin-bottom: 1rem;
    }
}

[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"],
textarea, select {
    margin-bottom: 0;
}

input[type="checkbox"] {
    @supports (-ms-ime-align:auto) {
        visibility: visible;
        border: none;
    }
    @media screen and (min-width: 0 \0
    ) {
        visibility: visible !important;
    }
    position: relative;
    visibility: hidden;
    cursor: pointer;
    font-family: 'acymicon' !important;
    @include appearance('none');

    &:after {
        @supports (-ms-ime-align:auto) {
            visibility: hidden;
        }
        font-weight: 100;
        display: block;
        content: "\e912";
        position: absolute;
        visibility: visible;
        font-size: 1rem;
        padding-left: 10px;
        color: $color-palette-dark-blue;
        cursor: pointer;
        top: -9px;
        left: -9px;
    }

    &:checked:after {
        content: "\e926";
    }

    &:disabled {
        opacity: 0.4;
    }
}

.acym_radio_group {
    i.acym_radio_unchecked + input[type="radio"] {
        display: none;
    }

    i.acym_radio_checked, i.acym_radio_unchecked {
        cursor: pointer;
        color: $color-palette-dark-blue;
        vertical-align: middle;
        font-size: 1rem;
    }

    &.dcontent_pictures {
        display: inline-block;
    }

    label {
        vertical-align: middle;
    }

    .acym__disabled[type=radio] + label[for], i.acym__disabled {
        cursor: $input-cursor-disabled;
    }
}

.acym__label {
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.8;
    color: $black;
}

.acym__input-error {
    position: absolute;
    padding: 10px 5px;
    border-radius: $primary-radius;
    z-index: 1000000;
    max-width: 300px;
    background-color: $white;
    box-shadow: $primary-box-shadow;
    margin-top: 4rem;

    i {
        margin: auto 5px auto auto !important;
        border-radius: 50px;
        height: 25px;
        width: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 16px;
        color: map-get($foundation-palette, alert);
        background-color: #ffedef;
    }
}

[type="checkbox"], [type="radio"] {

    & + .acym__input-error {
        margin-top: 0;

        & + label {
            display: inline-block;
            vertical-align: baseline;
            margin-left: .3rem;
            margin-right: 1rem;
            margin-bottom: 0;
        }
    }

    & + label {
        margin-left: .3rem;
    }
}

input[type="text"].intext_input, input[type="number"].intext_input {
    width: 60px;
    display: inline-block;
    vertical-align: middle;
}

input[type="text"].intext_input_large, input[type="email"].intext_input_large {
    width: 80%;
    display: inline-block;
}

textarea {
    background-color: $white;
    border-color: $medium-gray;
    border-radius: 4px;
    box-shadow: none;
    font-size: .8rem;

    &:focus, &:hover {
        background-color: $white;
        border-color: $color-palette-dark-blue;
        box-shadow: none;
    }
}
