&.language_default, &.language_share {
    background-color: $white;
}

.acym__language__modal__existing__name-file {
    line-height: 50px;
}

.acym__modal__language__share__title {
    font-size: 20px;
    font-weight: 800;
    color: $color-palette-cyan;
}

.acym__modal__language__share__information {
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 4px;

    h6 {
        font-size: 13px;
        font-weight: 500;
    }
}

.acym__language__modal__existing__translation {
    border-radius: 4px;
    border: none;

    &:focus {
        border: none;
    }
}
