a:before {
    content: '';
}

.acym__external__link {
    font-size: .8rem;
    color: $font-primary;

    i {
        margin-left: 0.2rem;
        font-size: 1rem;
        vertical-align: middle;

        &:hover {
            text-decoration: underline;
        }
    }

    &:hover {
        text-decoration: underline;
        color: $font-primary;
    }
}