.acym__row__no-listing {
    cursor: pointer;
    padding: 0.4rem;
    border-bottom: 1px solid #e3e3e3;

    &.acym__listing__row__popup--disabled {
        opacity: .5;
        cursor: not-allowed !important;

        .acym__listing__title__dynamics {
            cursor: not-allowed !important;
        }
    }

    &.acym__listing__row__popup:not(.acym__listing__row__popup--disabled):not(.selected_row):hover {
        background-color: $light-gray;
    }

    &.selected_row {
        background-color: #d2d2d2;
    }
}

.acym__filter__status {
    --filter-status-color: #{$font-primary};
    --filter-status-border-color: #{$grey-light};

    --filter-status-number-color: #{$font-primary};
    --filter-status-number-background: #{$grey-light};

    display: flex;
    align-items: center;
    outline: none;
    color: var(--filter-status-color);
    border: 1px solid var(--filter-status-border-color);
    margin: 5px 10px 5px 0;
    padding-left: 12px;
    cursor: pointer;
    min-width: 100px;

    &:hover {
        --filter-status-border-color: #{$blue-night-primary};
    }

    &[disabled] {
        --filter-status-number-color: rgba($blue-night-primary, .4);
        --filter-status-number-background: #{$grey-light};

        --filter-status-color: rgba($blue-night-primary, .4);
        --filter-status-border-color: #{$grey-light};

        cursor: default;
        pointer-events: none;
    }

    &.acym__status__select {
        --filter-status-color: #{$blue-night-primary};
        --filter-status-border-color: #{$blue-light};

        .acym__filter__status__number {
            --filter-status-number-color: #{$blue-night-primary};
            --filter-status-number-background: #{$blue-light};
        }
    }

    .acym__filter__status__number {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        min-width: 25px;
        margin: 6px;
        padding: 0 6px;
        border-radius: $primary-radius;
        text-align: center;
        font-size: 10px;
        background-color: var(--filter-status-number-background);
        color: var(--filter-status-number-color);
    }
}

.acym__listing__actions {
    margin-right: 20px;
    @include acym_vcenter();

    .select2-container {
        background-color: $white !important;

        &.select2-container--disabled .select2-selection--single {
            cursor: not-allowed;
            opacity: .4;
        }

        .select2-selection--single {
            background-color: $white !important;
            border: 1px solid map-get($foundation-palette, secondary) !important;
        }
    }
}

.acym__listing {
    margin-top: .4rem;

    .acym__listing__row {
        background-color: $white;

        [type='checkbox'] {
            z-index: 900;
            margin: 0;

            &:after {
                color: $font-primary;
                font-size: 19px;
            }
        }

        i {
            font-size: 20px;
        }
    }

    .acym__listing__row, .acym__listing__header {
        padding: 1rem;
    }

    .acym__listing__row:nth-child(even) {
        background-color: #F0F0F0;
        border-radius: $secondary-radius;
    }

    .acym__listing__id {
        min-width: 55px;
    }

    .acym__listing__controls i {
        &:hover {
            opacity: .7;
        }
    }

    .acym__listing__view__block .grid-margin-x {
        margin: 0;
    }

    .acym__listing__header {
        font-weight: bold;
        padding: .5rem 1rem;
        background-color: $font-primary;
        z-index: 1001;
        border-radius: $secondary-radius;

        [type='checkbox'] {
            margin: 0;

            &:after {
                color: $white;
                font-size: 19px;
            }
        }

        .acym__listing__header__title {
            margin-top: 3px;
            word-wrap: break-word;
            font-size: 15px;
            font-weight: 400;
            color: $white;

            .acym__tooltip__info {
                margin: 0 0 0 5px;

                .acym__tooltip__info__icon {
                    color: $white;
                }

            }

            &:first-child {
                padding-left: 10px;
            }
        }

    }

    .acym__listing__text {
        font-size: .8rem;
        font-weight: 500;

        h6 {
            font-size: .8rem;
        }
    }

    .acym__listing__title {
        padding-left: 10px;
        word-wrap: break-word;
        color: $font-primary;

        h6 {
            font-size: .8rem;
            color: $font-primary;
        }

        .acym__listing__title__primary {
            margin-top: -5px;
            font-size: .8rem;
            font-weight: 500;
            padding-left: 10px;
            word-wrap: break-word;
            word-break: break-all;
            color: $font-primary;
        }

        .acym__listing__title__secondary {
            padding-left: 10px;
            word-wrap: break-word;
            margin-top: 9px;
            margin-bottom: -10px;
            line-height: 1;
            color: #8a8a8a;
            font-size: 11px;
        }

        .acym__listing__title__important {
            font-weight: 500;
        }
    }

    @media screen and (max-width: 639px) {

        hr:first-child {
            margin-top: 10px;
        }

        h4 {
            margin-left: 0;
        }

        .acym__listing > div {
            padding-bottom: 0;
        }

        .acym_vcenter {
            height: 50px !important;
        }
    }

    .acym_vcenter {
        height: 100%;
    }

    .acym__listing__title__container {
        margin-left: 2rem;

        .acym__selection__card__icon {
            margin-right: .2rem;
        }

        @media screen and (max-width: 639px) {
            margin-left: 0;
        }

        > div {
            word-break: break-word;
        }
    }

    .acym__listing__header__title__container {
        margin-left: 2rem;

        @media screen and (max-width: 639px) {
            margin-left: 0;
        }
    }
}

// Foundation uses !important on its classes...
@media print, screen and (min-width: 40em) {
    .grid-x {
        & > .medium-margin-bottom-0 {
            margin-bottom: 0 !important;
        }

        & > .medium-margin-top-0 {
            margin-top: 0 !important;
        }

        & > .medium-margin-left-0 {
            margin-left: 0 !important;
        }

        & > .medium-margin-right-0 {
            margin-right: 0 !important;
        }

        & > .medium-margin-bottom-1 {
            margin-bottom: 1rem !important;
        }

        & > .medium-margin-top-1 {
            margin-top: 1rem !important;
        }

        & > .medium-margin-left-1 {
            margin-left: 1rem !important;
        }

        & > .medium-margin-right-1 {
            margin-right: 1rem !important;
        }
    }
}

.acym__templates__oneTpl {
    position: relative;
    background-color: $white;
    border-radius: $secondary-radius;

    &:hover {
        box-shadow: $box-shadow-card-hover;

        .acym__templates__pic img {
            opacity: .7;
        }
    }
}

.acym__templates__pic {
    position: relative;
    height: 208px;
    background-color: $black;

    @media screen and (min-width: 640px) {
        min-height: 110px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        transition: .2s opacity;
    }

    &:hover {
        cursor: pointer;
    }
}

.acym__templates__footer {
    min-height: 35px;
}

.acym_subscription {
    margin: 0 3px;
}

.acym__listing__block__delete {
    --width-icon: 28px;

    display: none;
    width: var(--width-icon);
    max-width: var(--width-icon);
    height: var(--width-icon);
    overflow: hidden;
    border-radius: 5px;
    margin-top: 10px;
    right: 0;

    .acym__listing__block__delete__cancel {
        width: 28px;
        display: block;
    }

    .acym__listing__block__delete__trash {
        --icon-background-color: #{$red-light};
        --icon-color: #{$red-secondary};

        // hover
        --icon-background-color-hover: #{$red-secondary};
        --icon-color-hover: #{$white};

        z-index: 10;
        position: relative;

        i {
            overflow: hidden;
        }
    }

    .acym__listing__block__delete__action {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $red-secondary;
    }

    // icon trash, Real "deleted" action
    .acym__listing__block__delete__submit {
        --icon-background-color: $red-secondary;
        --icon-color: $white;
        --icon-background-color-hover: $red-secondary;
        --icon-font-size: 1.1rem;

        width: 28px;
        display: block;
    }

    i {
        line-height: var(--width-icon) !important;
        float: left;
        width: var(--width-icon);
        z-index: 1101;
    }
}

@media screen and (min-width: 1024px) {
    #acym__templates .acym__listing__block, #acym__list__settings .acym__listing__block {
        &:hover {
            .acym__listing__block__delete, .acym__listing__block__duplicate {
                display: block !important;
            }
        }
    }
}

.acym__listing__block__delete__cancel, .acym__listing__block__delete__submit {
    user-select: none;
}

.acym__back_to_listing {
    font-size: 16px;

    i {
        font-size: 15px;
        margin-right: .5em;
    }
}

i.acymicon-check-circle {
    &.selected_template {
        position: absolute;
        margin-top: -11px;
        margin-left: -8px;
        background-color: $white;
        color: map-get($foundation-palette, primary);
        padding-right: 3px;
    }

    &.not_selected_template {
        display: none;
    }
}

i.acymicon-circle {
    font-size: 19px;
}

.acym__listing__ordering__sort-order {
    cursor: pointer;
    font-size: $global-font-size;
    margin-left: 10px;
}

#acym__listing__ordering {
    width: auto;
    box-shadow: none;
    font-size: $global-font-size;
    margin: 0;
    display: inline-block;
}

.acym__listing__empty__title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;

    a {
        color: $primary-color;

        &:hover {
            color: $color-palette-cyan;
        }
    }
}

.acym__listing__empty__search__title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 10px;
}

.acym__listing__empty__subtitle {
    font-size: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.acym__listing__evol-green {
    color: #0dba61;
}

.acym__listing__evol-red {
    color: map-get($foundation-palette, alert);
}

@media screen and (max-width: 639px) {
    .acym__listing {
        margin: 0;
    }
}


@media screen and (max-width: 74.9375em) {
    .show-for-xlarge {
        display: none !important;
    }
}

.deleteFastAction:hover {
    color: map-get($foundation-palette, alert);
}
