.acym__wysid__right__toolbar__settings__stylesheet {
    .acym__wysid__right__toolbar__settings__stylesheet__title {
        font-weight: 600;
    }

    #acym__wysid__right__toolbar__settings__stylesheet__textarea {
        border-radius: 4px;
    }
}

.acym__listing__empty__search__modal {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 2em;
}

.acym__listing__empty__load-more {
    font-size: .9rem;
    font-weight: 500;
    margin: 1rem 0;
    color: $dark-gray;
}

#acym__modal__lists__import__create-area {
    position: relative;

    #acym__modal__lists_import__clear {
        position: absolute;
        top: 7px;
        right: 12px;
        cursor: pointer;
        color: $medium-gray;

        &:hover {
            color: $dark-gray;
        }
    }
}

div[data-reveal-larger] {
    @media screen and (min-width: 649px) {
        & {
            width: 70% !important;
            height: 80%;
        }
    }
}

#acym__template__choose__modal {
    width: 75%;
    padding-top: 4rem !important;
    position: relative;
    max-height: calc(100vh - 110px);

    @media screen and (min-width: 1024px) {
        .acym__template__choose__list {
            max-height: 600px;
            overflow-y: auto;
        }
    }

    .acym__template__choose__modal__loader {
        display: none;
        position: absolute;
        @include acym_set_position();
        background-color: rgba(0, 0, 0, .5);
        z-index: 999;

        .acym_loader_logo {
            svg {
                width: 80px;
                height: 80px;

                path {
                    stroke: $white;
                }
            }
        }
    }
}

.modal__pagination__show {
    font-weight: bold;
    padding-right: 20px;
}

.modal__pagination__search {
    position: relative;
}

.modal__pagination__listing__lists {
    overflow: auto;
    padding: 10px;
}

.modal__pagination__listing__lists__in-form {
    .modal__pagination__listing__lists__in-form__list {
        padding: 5px;
    }

    i.acymicon-circle {
        margin-left: 10px;
        margin-right: 8px;
        line-height: 22px;
    }

    label {
        line-height: 22px;

        span {
            font-weight: normal;

            &.modal__pagination__listing__lists__list-name {
                font-weight: bold;
                font-size: 14px;
                vertical-align: middle;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            &.modal__pagination__listing__lists__list-subscribers {
                font-weight: bold;
                font-size: 16px;
                color: $dark-gray;
                margin-left: 5px;
            }
        }
    }
}

div[aria-haspopup='true'] {
    display: inline-block;
}

.reveal-overlay {
    overflow-y: auto;
    z-index: 99999 !important;

    .reveal[id^="acym"] {
        border-radius: 8px;

        .close-button {
            background-color: $color-palette-light-blue;
            color: $color-palette-dark-blue;
            cursor: pointer;
            right: 6px;
            top: 6px;

            span {
                padding: 0 6px;
            }
        }

        iframe {
            border: none;
            width: 100%;
            height: 95%;
        }
    }
}

.acym__modal__users__summary {
    .acym__listing {

        h4.acym__list__settings__users__listing {
            font-size: 1rem;
        }

        .acym__list__settings__users__listing {
            height: 25rem;
            overflow: auto;
            align-content: baseline;
        }
    }
}
