.acym__search-area {
    position: relative;

    @media screen and (max-width: 1024px) {
        margin-bottom: 0.9rem;
    }

    .acym__search-field {
        height: 40px;
        margin-left: -1px;
    }

    .acym__search-clear {
        color: $dark-gray;
        display: none;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 12px;
        @include transition-duration(.3s);
        @include transition-property(opacity);

        i.acymicon-close {
            font-size: 16px;
        }

        &:hover {
            opacity: .7;
        }

        &:dir(rtl) {
            left: 10px;
            right: auto;
        }
    }

    &:hover {
        .acym__search-clear {
            display: inherit;

            i {
                line-height: 1;
            }
        }
    }

    .input-group-button {
        .acym__search__button {
            padding: 0 0 0 12px;
            background-color: $white;
            border-radius: $primary-radius 0 0 $primary-radius !important;
            border: 1px solid $blue-night-primary;
            border-right: 0 !important;
            min-width: auto;

            i {
                margin-right: 8px;
                vertical-align: middle;
                color: $font-color-toolbar;
            }

            &:hover, &:focus {
                border-color: $blue-night-primary;
                background-color: $more-options-toggled-toolbar-light !important;
            }

            &:dir(rtl) {
                border-left: 0 !important;
                border-right: 1px solid $blue-night-primary !important;
                border-radius: 0 $primary-radius $primary-radius 0 !important;
            }
        }
    }

    .input-group-field {
        padding-left: 6px;
        background-color: $white;
        border-radius: 0 $primary-radius $primary-radius 0 !important;
        border: 1px solid $blue-night-primary;
        border-left: 0 !important;

        &:hover, &:focus {
            border-color: $blue-night-primary;
            background-color: $white !important;
        }

        &:dir(rtl) {
            border-left: 1px solid $blue-night-primary !important;
            border-right: 0 !important;
            border-radius: $primary-radius 0 0 $primary-radius !important;
        }
    }
}
