@import "iconContent/keyboard_arrow_down";

.acym_listing_sort-by {
    padding: 0 10px;
    text-align: right;

    & > span:first-child {
        padding: 10px;
    }

    &:dir(rtl) {
        text-align: left;
    }
}

.select2-container {
    margin-bottom: 0 !important;

    img {
        height: 30px;
    }
}

.select2-container--foundation {
    color: $color-palette-dark-blue;

    span {
        color: $color-palette-dark-blue;
    }

    .select2-selection.select2-selection--single, .selection .select2-selection.select2-selection--single, .select2-selection--multiple {
        background-color: $white;
        border-color: $medium-gray;

        &:focus, &:hover {
            background-color: $white;
            border-color: $color-palette-dark-blue;
        }

        .select2-selection__rendered {
            line-height: 1.39rem;
            max-width: 90%;
            font-size: .8rem;
        }
    }

    .select2-search.select2-search--inline {
        border-radius: 3px;

        [type=search].select2-search__field {
            background-color: $white;
            border-color: $white;
            border-radius: 3px;
            font-size: .8rem;

            &::placeholder {
                color: rgba($color-palette-dark-blue, .4);
            }

            &:hover, &:focus {
                background-color: $white;
                border-color: $white;
            }
        }
    }

    .select2-selection--single .select2-selection__arrow b {
        background-image: none;
        font-family: 'acymicon';
        border: none;

        &:before {
            font-size: 1rem;
            position: absolute;
            right: -5px;
            top: -7px;
        }
    }

    &.select2-container--open .select2-selection--single .select2-selection__arrow b::before {
        top: -12px;
        right: -12px;
    }

    .select2-selection__rendered {
        text-align: left;
        font-size: .8rem;

        .select2-selection__choice {
            background-color: $color-palette-dark-blue;
        }
    }
}

.acym__select__sort, .acym__select__sort + .select2 {
    width: 140px !important;
}
