.acym__selection {
    &.acym__selection_disabled {
        .acym__selection__card:hover {
            border-color: $dark-gray !important;
        }
    }

    .acym__selection__card {
        padding: 20px;
        border: 2px solid $dark-gray;
        border-radius: 5px;
        cursor: pointer;
        transition: .2s;
        position: relative;

        &.acym__selection__card__disabled {
            padding-bottom: 50px;

            &:hover {
                cursor: not-allowed;
            }

            .acym__selection__card__disabled__container {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                padding: 10px 10px;
                background-color: $dark-gray;
                color: $very-light-gray;
            }
        }

        &:not(.acym__selection__card__disabled):hover {
            border-color: $color-palette-cyan;
        }

        &.acym__selection__card-selected {
            background-color: $light-blue;
            border-color: $color-palette-cyan;
        }

        .acym__selection__card__title {
            font-size: 1.2rem;
        }

        .acym__selection__card__icon {
            font-size: 35px;
        }

        .acym__selection__card__description {
            margin-bottom: 10px;
        }
    }

    .acym__sending__methods__choose__selection {
        padding: 1rem;
        margin: 0 !important;
        align-items: end;
    }

    .acym__sending__methods__name {
        margin-top: .2rem;
    }

    .acym__sending__methods__one {
        width: 165px !important;

        &.acym__sending__methods__one__premium {

            .acym__selection__card {
                border-color: $gold;
                position: relative;

                .acym__selection__card__recommended {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: .1rem;
                    line-height: 1.1;
                    font-size: .7rem;
                    color: $white;
                    background-color: $gold;
                    border-bottom-left-radius: 4px;
                }
            }
        }

        &.acym__sending__methods__one__config {
            width: 135px !important;

            .acym__selection__card {
                height: 90px;
            }
        }

        .acym__selection__card {
            height: 90px;
            padding: 10px;

            .acym__selection__card__image__smaller {
                width: 80px;
            }

            .acym__selection__card__image__mailgun {
                width: 115px;
                height: 32px;
            }

            img {
                width: 100px;
                height: 55px;
            }

            i {
                font-size: 60px;
                color: $font-primary;
            }
        }
    }

    .send_settings {
        display: none;

        .acym__sending__methods__one__settings {
            margin-bottom: 1rem;

            a {
                text-decoration: underline;
            }

            button, input {
                margin-bottom: 0;
            }
        }
    }
}

