.acym_listing_sort-by {
    padding-top: 7px;
    text-align: right;
    padding-right: 40px;
}

.select2-container--sortBy .selection .select2-selection--single {
    text-align: left;
    height: 30px;
    border-radius: 5px;
    border: 1px solid map-get($foundation-palette, secondary) !important;
}

.select2-container {
    margin-bottom: 0 !important;

    img {
        height: 30px;
    }
}

.acym_listing_sort-by > span:first-child {
    padding-right: 10px;
}
