.switch {
    --color-switch: $color-palette-dark-blue;
    --color-switch-disabled: $very-light-gray;
    --height-switch: 18px;
    --width-switch: 42px;
    --spacing-switch: 2px;

    height: calc(var(--height-switch) + var(--spacing-switch));
    font-size: .625rem;
    margin-bottom: 0;

    .switch-paddle {
        margin-left: 15px;
        width: var(--width-switch);
        height: calc(var(--height-switch) + var(--spacing-switch));
        background: $white;
        border: 1px solid var(--color-switch);

        &.disabled {
            border-color: var(--color-switch-disabled);

            &:after {
                background: var(--color-switch-disabled);
            }
        }

        &:after {
            top: var(--spacing-switch);
            left: var(--spacing-switch);
            width: calc(var(--height-switch) - var(--spacing-switch) * 2);
            height: calc(var(--height-switch) - var(--spacing-switch) * 2);
            background: var(--color-switch);
        }
    }

    input:checked ~ .switch-paddle {
        background: var(--color-switch);

        &:after {
            background: $white;
            left: calc(var(--width-switch) - var(--height-switch));
        }
    }
}

.switch-active, .switch-inactive, input[type="checkbox"].switch-input {
    display: none;
}
