.acym__content {
    ul {
        &.tabs {
            position: relative;
            overflow-x: auto;
            white-space: nowrap;
            border: 0;
            background-color: $tabs-background;
            width: 100%;

            li.tabs-title {
                display: inline-block;
                float: inherit;
            }

            .acym__tabs__inbar {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                display: flex;
                align-items: center;
                overflow: hidden;

                .acym__tabs__inbar__element {
                    padding: 1rem;
                }
            }
        }
    }

    .tabs-panel {
        border: none;
        padding: 0;

        .is-active {
            height: fit-content;
        }
    }

    .tabs-title {
        color: $very-dark-gray;

        & > a {
            outline: none;
            color: $very-dark-gray;

            &:focus, &[aria-selected='true'] {
                color: $dark-blue;
                background-color: $white;
            }

            &[aria-selected='true'] {
                font-weight: 500;
            }

            &[aria-disabled="true"]:hover {
                background-color: transparent;
            }
        }
    }

    &.acym__content__tab, .acym__content__tab, .acym__wysid__context__modal {
        padding: 0;

        .tabs-content {
            border: 0;
            width: 100%;
        }
    }

    .tabs-title-empty a {
        color: $medium-gray;

        &:hover, &:focus {
            color: $medium-gray;
            background-color: inherit;
        }
    }

    .acym__selection__page__tabs {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        gap: 1.5rem;

        li.step {
            display: inline-block;

            &:not(.current_step) a {
                cursor: pointer;
            }

            &:not(.disabled_step):hover a {
                background-color: $light-blue;
            }

            &.current_step a {
                color: $dark-blue;
                background-color: $light-blue;
                font-weight: 500;
                border-radius: 4px;
            }

            &.disabled_step {
                padding: 15px;
                color: $medium-gray;
                cursor: default;
            }

            a {
                display: block;
                padding: 15px;
                border-radius: 4px;
                color: $very-dark-gray;
                transition: .2s;
            }
        }
    }
}
