.acym__toolbar__more-filters {
    background-color: $color-palette-light-blue;
    margin-bottom: 1rem;

    .acym__toolbar__filters__select {
        label {
            padding-left: .5rem;
            color: $color-palette-dark-blue;
            margin-bottom: 6px;
        }
    }

    .select2-selection--single {
        background: $white !important;
        border-radius: 2px !important;
        border: solid 1px $light-blue-border !important;
    }
}

.acym__toolbar {
    margin: 1rem 0;
}
