@import "../back/campaigns/editEmail";
@import "frontcampaigns/listing";
@import "frontcampaigns/recipients";
@import "frontcampaigns/send_settings";
@import "frontcampaigns/summary";
@import "frontcampaigns/choose_email";
@import "frontdynamics";
