@media screen and (max-width: 639px) {
    #acym__callout__container {
        width: 100%;
        top: 0;

        .acym_callout {
            margin-bottom: 0;
            width: 100%;
        }
    }
}

#acym__callout__container {
    right: 0;
    top: 45px;
    position: fixed;
    width: 400px;
    max-width: 100%;
    z-index: 1000000;

    .acym_callout_close {
        width: 17px;
        height: 18px;
        cursor: pointer;
        display: inline;
        margin-left: auto;
    }

    .acym_callout {
        padding: 15px;
        margin-left: 640px;
        margin-right: -640px;
        margin-bottom: 1rem;
        max-width: 100%;
        -moz-transition-property: margin-left, margin-right;
        -o-transition-property: margin-left, margin-right;
        -webkit-transition-property: margin-left, margin-right;
        transition-property: margin-left, margin-right;
        -moz-transition-duration: 1s;
        -o-transition-duration: 1s;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        width: 400px;
        overflow: hidden;
        border-radius: 4px 0 0 4px;
        border: none;
        box-shadow: 2px 2px 15px 2px #ebebeb;
        float: right;
        display: flex;
        opacity: 1;
        word-wrap: break-word;
        word-break: break-word;

        i {
            margin: auto !important;
            border-radius: 50px;
            height: 50px;
            width: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 16px;
        }

        p {
            float: right;
            font-size: 14px;
            width: calc(100% - 120px);
            margin: 1rem 0 1rem 1rem;
        }
    }
}

.acym__callout__front__success {
    background-color: #ebfcf4;
}

.acym__callout__front__warning {
    background-color: #fff6e9;
}

.acym__callout__front__error {
    background-color: #ffedef;
}

.acym__callout__front__info {
    background-color: #eef1ff;
}

.acym_front_message {
    padding: 1em !important;
    margin-bottom: 10px;
    z-index: 10;
}

.acym_front_message_success {
    @extend .acym_front_message;
    color: #130;
    background-color: #dfc;
}

.acym_front_message_warning {
    @extend .acym_front_message;
    color: #3c3200;
    background-color: #fff8d4;
}

.acym_front_message_error {
    @extend .acym_front_message;
    color: #400;
    background-color: #fdd;
}
