@import "compass/css3";
@import "compass/support";
@import "vendor/foundation";

#acym_wrapper {
    @include foundation-everything-acyba;
}

@import "global/components";
@import "back/components";
// Load select2 CSS
@import "libraries/select2";


.acym_no_foundation {
    padding: 0 20px;
    box-sizing: border-box;
}

#acym_wrapper {
    background-color: $very-light-gray;
    padding: 20px;
    color: $font-primary;

    * {
        outline: 0;
    }

    .acym_area {
        background-color: $white;
        box-shadow: 0 0 15px 2px #ebebeb;
        margin: 20px;
        padding: 20px;
        border-radius: 5px;
    }

    .word-break {
        word-wrap: break-word;
    }

    @media screen and (max-width: 639px) {
        padding: 0;
        border-radius: 0;
    }

    .acym__do__not__remindme {
        margin-left: 5px;
    }

    .acychecker_ad {
        background-color: $orange-light;
        padding: .3rem .3rem .6rem .3rem;
        border-radius: 3px;
    }

    .acychecker_logo {
        height: 50px;
    }
}


#acym__reviews__footer {
    margin: 0 0 30px 30px;

    #acym__reviews__footer__link i {
        display: contents;
    }
}
