@import "compass/css3";
@import "compass/support";
@import "settings";

.select2-container--open {
    z-index: 1000000;
}

[data-plugin] div.wp-menu-image {
    margin-left: auto !important;
    margin-right: auto !important;

    &::before {
        color: map-get($editor-wysid-palette, primary-ui);
    }
}


/* ============================ CSS only in the editor and not in the summary / preview =============================== */
@import "global/editor_wysid/editorOnly";

/* ================================================ Fix Joomla CSS ==================================================== */
@import "global/editor_wysid/fixJoomla";
@import "global/editor_wysid/fixWordpress";
@import "global/editor_wysid/overrideTinymce";
@import "global/editor_wysid/toolbox";
#acym_wrapper {
    @import "global/editor_wysid/global";
    @import "global/editor_wysid/fixFoundation";
    @import "global/editor_wysid/topToolbar";

    #acym__wysid__right {
        position: relative;
        min-width: 450px;
        @import "global/editor_wysid/sendTest";
        @import "global/editor_wysid/rightToolbar";
    }

    @import "global/editor_wysid/codeEditor";
    @import "global/editor_wysid/templateDesign";
    @import "global/editor_wysid/contextModal";
    @import "global/editor_wysid/modal";
    @import "global/editor_wysid/modalCMS";
}

.c-scrim--shown, .c-datepicker--open {
    z-index: 999999999;
}
