@media only screen and (max-device-width: 479px) {
    .acymailing_content *[valign="middle"] {
        width: auto;
    }
}

@media only screen and (max-width: 479px) {
    .acymailing_content *[valign="middle"] {
        width: auto;
    }
}

#acym__wysid__template {
    .acymailing_content {
        margin-bottom: 10px;

        *[valign="middle"] {
            .content_main_image {
                margin-left: auto !important;
                margin-right: auto !important;
            }
        }

        .content_main_image_caption {
            text-align: center;
        }

        .acydescription {
            img {
                display: inline-block;
            }
        }

        .acymailing_readmore {
            margin-top: 10px;
            display: block;
        }

        td.cflabel, td.cfvalue {
            padding: .2rem .625rem;
        }

        img {
            height: auto;
        }
    }
}

.alignleft {
    float: left;
    margin: 0.5em 1em 0.5em 0;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignright {
    float: right;
    margin: 0.5em 0 0.5em 1em;
}

.revealonline {
    display: none;
}
