//include foundation
@import "compass/css3";
@import "compass/support";
@import "vendor/foundation";

#acym_wrapper {
    @include foundation-everything-acyba;
}

//include our style
@import "front/components";
@import "global/components";

.site-content-contain {
    .acym_front_page {
        #acyuseractions {
            padding-top: 5px;

            button {
                font-size: 12px;
                line-height: 1;
            }
        }
    }
}
