@import "settings";

#acym_wrapper {

    box-sizing: border-box;

    .acym_area {
        padding: 1.5rem;
    }

    .acym__content {
        background-color: $white;
        padding: .9rem;
        border-radius: $border-radius;
        box-shadow: $primary-box-shadow;

        &.acym_noshadow {
            box-shadow: none;
        }

        .acy_coming_soon_icon {
            vertical-align: middle;
            margin-right: 5px;
        }

        .acy_coming_soon {
            color: $dark-blue;
        }
    }
}

.is-hidden {
    display: none !important;
}

@media print, screen and (min-width: 40em) {
    .medium-margin-right-1 {
        margin-right: 1rem !important;

        &:dir(rtl) {
            margin-left: 1rem !important;
            margin-right: initial !important;
        }
    }
}

.padding-next-1 {
    &:dir(ltr) {
        padding-right: 1rem !important;
    }

    &:dir(rtl) {
        padding-left: 1rem !important;
    }
}

.margin-next-1 {
    &:dir(ltr) {
        margin-right: 1rem !important;
    }

    &:dir(rtl) {
        margin-left: 1rem !important;
    }
}
