#acym_wrapper {
    #acym__fields__edit {
        .acym__listing {
            margin-bottom: 0;
        }

        .select2-container--foundation {
            z-index: 1007;
        }

        .acym__fields__edit__field__general {
            .acym_fields__vertical__center {
                display: flex;
                align-items: center;
            }
        }

        .acym__field__sortable__listing__handle {
            margin-top: 14px;
            display: inline-table;

            i {
                line-height: 5px;
                font-size: 14px;
            }
        }

        .acym__field__delete__value {
            margin-top: 6px;
        }

        .acym__fields__values__listing__sortable {
            margin-top: 1rem;

            .acym__fields__value__sortable {
                margin-left: 0;
                padding: 20px 10px 0 10px;
            }
        }
    }
}
