#acym_wrapper {
    #acym__wysid__template {
        table.row {
            display: table;
        }
    }

    .row {
        margin-left: inherit;
    }

    .mce-abs-layout-item {
        margin: auto;
    }

    .row > .acym__wysid__row__selector {
        max-width: none;
    }
}

#status.navbar {
    display: none;
}

#acym_wrapper.cms_joomla.cms_v_4 {
    #acym__wysid__right__toolbar__current-block {
        #acym__wysid__context__text {
            #acym__dynamic__texts__insert__zone {
                padding-bottom: 50px;
            }
        }
    }

    hr {
        background-color: inherit;
        opacity: inherit;
    }
}
