#acym_wrapper {
    .row {
        margin-left: inherit;
    }

    .mce-abs-layout-item {
        margin: auto;
    }

    .row > .acym__wysid__row__selector {
        max-width: none;
    }
}

#status.navbar {
    display: none;
}
