#acym__wysid__wrap {
    position: relative;

    .acym__wysid__template__content {
        padding: 40px 0 120px 0;
    }

    #acym__wysid__warning__thumbnail {
        background-color: $medium-gray;
        position: absolute;
        z-index: 1022;
        @include acym_set_position();

        .acym_loader_logo svg {
            width: 100px;
            height: 100px;
        }
    }
}

#acym__wysid__background-image__template-delete {
    margin-left: -42px;
    cursor: pointer;
    display: none;
}


// The acym_dynamic elements are inserted dtexts
#acym__wysid__template span.acym_dynamic a, #acym__wysid__template span.acym_dynamic a span {
    color: white !important;
}

.acym__wysid__template__content span.acym_dynamic {
    display: inline;
    background-color: #0179d3;
    padding: 2px 4px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    vertical-align: middle;

    em {
        font-style: normal;
        font-size: 12px;
        vertical-align: middle;
        margin-left: 5px;

        &:hover {
            color: map-get($editor-wysid-palette, alert);
        }
    }
}
