#acym_wrapper {
    #acym__automation__info {
        #acym__automation__info__desc__button {
            i {
                color: $dark-gray;
                font-size: 20px;
                vertical-align: sub;
                transition: transform .3s;
            }
        }

        .acym__automation__info__first {
            max-height: 370px;
        }

        #acym__automation__info__choose__trigger__type {
            p {
                color: $dark-gray;
                font-weight: 700;
                font-size: 18px;
                cursor: pointer;
                padding: 5px 10px;
                border-radius: $primary-radius;

                &.selected-trigger {
                    background-color: $color-palette-cyan;
                    color: $white;
                }
            }
        }

        .acym__automation__trigger__droppable__classic, .acym__automation__trigger__droppable__action {
            background-color: $light-blue;
            padding: 10px;
            cursor: grab;
            color: $font-primary;
            font-size: 14px;
            border-radius: $primary-radius;

            .acym__automation__trigger__action {
                display: none;
            }

            .acym__automation__trigger__name {
                font-weight: normal;
            }
        }

        .acym__automation__droppable__classic, .acym__automation__droppable__action, .acym__automation__draggable, .acym__automation__info__trigger {
            align-items: end;
            align-content: baseline;
        }

        .acym__automation__droppable__drag {
            padding: 10px;
            box-shadow: $primary-box-shadow;
            opacity: 0.4;
            font-size: 14px;
            border-radius: $primary-radius;
        }

        .acym_trigger_delimiter {
            margin-top: 1rem;
            font-size: 16px;
        }

        .acym__automation__droppable__trigger {
            padding: 10px;
            box-shadow: $primary-box-shadow;
            font-size: 14px;
            border-radius: $primary-radius;

            .acym__automation__delete__trigger {
                vertical-align: middle;
                width: 9%;
                display: inline-block;
                text-align: right;
            }

            .acym__automation__one__trigger {
                width: 90%;
                display: inline-block;
            }
        }

        .acym__automation__trigger__action {
            display: block;
            margin-top: 10px;

            .intext_select + .select2 {
                width: 100px !important;
            }

            .intext_select_larger + .select2 {
                max-width: 200px;
            }

            .acym__automation__trigger__action__birthday .select2-container {
                min-width: 30px;
                max-width: 50px;
            }
        }

        .acym__automation__trigger__name {
            font-weight: bold;
        }
    }

    .acym__automation__inserted__condition, .acym__automation__inserted__filter, .acym__automation__inserted__action {
        border-left: 3px solid $font-primary;
        padding-left: 20px;
        align-items: center;

        &:dir(rtl) {
            border-left: none;
            border-right: 3px solid $font-primary;
            padding-left: 0;
            padding-right: 20px;
        }
    }

    #acym__automation__filters, #acym__automation__conditions {
        .acym__automation__inner__text {
            margin-bottom: 0;
            margin-top: 0;
            font-size: 16px;
            font-weight: 500;
        }

        .acym__automation__filter__date-option {
            .acym__automation__filter__date-text {
                margin-left: 1rem;
            }
        }

        .acym__automation__condition__container, .acym__automation__condition__filter {
            position: relative;
        }

        .intext_select_automation, .intext_input_automation, .intext_select {
            width: 200px;
            margin-top: 0;
            display: inline-flex;

            &.acym__small_select {
                width: 90px;
            }

            & + .select2 {
                margin-right: 5px;
            }
        }

        .acym__automation__choose__condition, .acym__automation__choose__filter {
            color: $dark-gray;
            font-weight: 700;
            font-size: 18px;
            cursor: pointer;
            padding: 5px 10px;
            border-radius: $primary-radius;

            &.selected-condition, &.selected-filter {
                background-color: $color-palette-cyan;
                color: $white;
            }
        }

        .countresults {
            padding-left: 15px;
            font-size: 17px;
        }

        .acym__automation__or__total__result {
            font-size: 15px;
            margin: 1rem;
            max-height: 18px;
        }
    }

    #acym__automation__actions {

        .acym__automation__action__mail__name {

            font-size: 15px;
            font-weight: 600;

            .acym__automation__action__reset__mail {
                vertical-align: middle;
            }

        }

        .intext_select_automation, .intext_input_automation {
            min-width: 200px;
            width: auto;
            display: inline-block;
        }
    }

    #acym__automation__summary {
        .acym__automation__summary__information__one {
            font-size: 15px;
            line-height: 1.5;

            .acym__automation__summary__information__one__title {
                font-weight: 800;
                font-size: 17px;
            }
        }
    }

    .intext_select_automation {
        .select2-selection__clear {
            display: none;
        }
    }

    .select2 .select2-search input[placeholder]:not([placeholder=""]) {
        min-width: 178px;
    }
}
