#acym_wrapper {
    #acym__automation {
        position: relative;

        .switch-paddle {
            margin: 0;
        }

        .acym__listing__empty {
            [data-step="action"] {
                margin-left: auto;
            }
        }
    }
}

