#acym_wrapper {
    .acym__splashscreen__container {
        box-shadow: -20px 32px 44px rgba(0, 0, 0, 0.03);
        border-radius: 23px;
        @media screen and (min-width: 1900px) {
            max-width: 50% !important;
        }

        @media screen and (max-width: 1899px) and (min-width: 1400px) {
            max-width: 60% !important;
        }

        @media screen and (max-width: 1399px) and (min-width: 800px) {
            max-width: 80% !important;
        }

        .acym__splashscreen__header {
            background-repeat: no-repeat;
            position: relative;
            min-height: 350px;
            border-radius: 23px;
            align-content: center;

            @media screen and (max-width: 800px) {
                padding: 20px;
            }

            img {
                position: absolute;
            }

            .acym__splashscreen__header__astronaut {
                top: 26%;
                left: -16%;

                @media screen and (max-width: 950px) {
                    display: none;
                }
            }

            .acym__splashscreen__header__comet__top {
                max-width: 100px;
                left: 9%;
            }

            .acym__splashscreen__header__comet__bottom {
                max-width: 100px;
                bottom: 0;
                left: 16%;
            }

            h1 {
                font-weight: 800;
                font-size: 37px;
                line-height: 39px;
                color: $white;
            }

            p {
                font-size: 12px;
                line-height: 20px;
                color: $white;
            }

            .button {
                background: #00C7FF;
                border-radius: 3px;
            }
        }

        .acym__splashscreen__body {
            padding: 0 50px;
            @media screen and (max-width: 449px) {
                padding: 0 15px;
            }

            .acym__splashscreen__body__title {
                font-weight: 800;
                font-size: 25px;
                line-height: 39px;
                color: $black;
            }

            .acym__splashscreen__body__card__container {
                .acym__splashscreen__body__card {
                    box-shadow: -20px 32px 44px rgba(0, 0, 0, 0.03);
                    border-radius: 23px;
                    min-height: 100px;
                    padding: 20px;

                    &:first-of-type {
                        margin-left: 0 !important;
                    }

                    &:last-of-type {
                        margin-right: 0 !important;
                    }

                    .acym__splashscreen__body__card__icon {
                        width: 67px;
                        height: 67px;
                    }

                    .acym__splashscreen__body__card__title {
                        font-weight: 800;
                        font-size: 16px;
                        line-height: 25px;
                    }

                    .acym__splashscreen__body__card__text {
                        font-size: 12px;
                        line-height: 19px;
                        color: #6D6D6D;
                    }
                }
            }

            .acym__splashscreen__body__end {
                .acym__splashscreen__body__end__card {
                    border-radius: 12px;
                    padding: 50px;

                    img {
                        height: 67px;
                        width: 67px;
                    }

                    .acym__splashscreen__body__end__card__title {
                        font-weight: 800;
                        font-size: 16px;
                        line-height: 1.2;
                    }

                    .acym__splashscreen__body__end__card__text {
                        font-size: 12px;
                        line-height: 19px;
                        text-align: center;
                        color: #6D6D6D;
                    }

                    .acym__splashscreen__body__end__card__minicard {
                        border: 0.5px solid rgba(1, 8, 74, 0.08);
                        border-radius: 8px;
                        padding: 5px;
                        background-color: $white;

                        .acym__splashscreen__body__end__card__minicard__title__text {
                            font-size: 10px;
                            line-height: 12px;
                            color: #6D6D6D;
                        }
                    }
                }
            }
        }

        .acym__splashscreen__footer {
            padding: 50px 10px;
            background-color: #010748;
            border-bottom-left-radius: 23px;
            border-bottom-right-radius: 23px;
            margin: 0 !important;

            img {
                max-width: 37px;
            }
        }
    }
}
