#acym_wrapper {
    .acym__splashcreen__container {
        box-shadow: -20px 32px 44px rgba(0, 0, 0, 0.03);
        border-radius: 23px;
        @media screen and (min-width: 1900px) {
            max-width: 50% !important;
        }

        @media screen and (max-width: 1899px) and (min-width: 1400px) {
            max-width: 60% !important;
        }

        @media screen and (max-width: 1399px) and (min-width: 800px) {
            max-width: 80% !important;
        }

        .acym__splashcreen__header {
            background-repeat: no-repeat;
            position: relative;
            min-height: 350px;
            border-radius: 23px;
            align-content: center;

            @media screen and (max-width: 800px) {
                padding: 20px;
            }

            img {
                position: absolute;
            }

            .acym__splashcreen__header__astronaute {
                max-width: 399px;
                top: 0;
                left: -16%;

                @media screen and (max-width: 950px) {
                    display: none;
                }
            }

            .acym__splashcreen__header__planes {
                max-width: 129px;
                bottom: -13%;
                left: 12%;
            }

            h1 {
                font-weight: 800;
                font-size: 37px;
                line-height: 39px;
                color: $white;
            }

            p {
                font-size: 12px;
                line-height: 20px;
                color: $white;
            }

            .button {
                background: #00C7FF;
                border-radius: 3px;
            }
        }

        .acym__splashcreen__body {
            padding: 0 50px;
            @media screen and (max-width: 449px) {
                padding: 0 15px;
            }

            .acym__splashcreen__body__subtitle {
                font-weight: 800;
                font-size: 11px;
                line-height: 39px;
                color: $color-palette-dark-blue;
            }

            .acym__splashcreen__body__title {
                font-weight: 800;
                font-size: 25px;
                line-height: 39px;
                color: $black;
            }

            .acym__splashcreen__body__card__container {
                .acym__splashcreen__body__card {
                    box-shadow: -20px 32px 44px rgba(0, 0, 0, 0.03);
                    border-radius: 23px;
                    min-height: 100px;
                    padding: 20px;

                    &:first-of-type {
                        margin-left: 0 !important;
                    }

                    &:last-of-type {
                        margin-right: 0 !important;
                    }

                    .acym__splashcreen__body__card__icon {
                        width: 67px;
                        height: 67px;
                        border-radius: 50%;
                        background-color: #F0FAFF;

                        //Do not erase that
                        //img {
                        //    width: 30px;
                        //    height: 30px;
                        //}
                    }

                    .acym__splashcreen__body__card__title {
                        font-weight: 800;
                        font-size: 16px;
                        line-height: 25px;
                    }

                    .acym__splashcreen__body__card__text {
                        font-size: 12px;
                        line-height: 19px;
                        color: #6D6D6D;
                    }
                }
            }

            .acym__splashcreen__body__middle {
                padding: 20px;

                .acym__splashcreen__body__middle__left {
                    align-content: center;

                    .acym__splashcreen__body__middle__left__title {
                        font-weight: 800;
                        font-size: 35px;
                        line-height: 39px;
                    }
                }

                .acym__splashcreen__body__middle__right {
                    padding-left: 50px;
                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        left: 20px;
                        width: 1px;
                        height: 70%;
                        top: 15%;
                        background-color: rgba(2, 10, 94, 0.34);
                    }

                    .acym__splashcreen__body__middle__right__icon {
                        width: 37px;
                        height: 37px;
                        border-radius: 50%;
                        background-color: #F0FAFF;

                        i {
                            font-size: 23px;
                        }
                    }

                    .acym__splashcreen__body__middle__right__title {
                        font-weight: 800;
                        font-size: 16px;
                        line-height: 25px;
                    }

                    .acym__splashcreen__body__middle__right__text {
                        font-size: 12px;
                        line-height: 20px;
                        color: #6D6D6D;
                    }
                }
            }

            .acym__splashcreen__body__end {
                .acym__splashcreen__body__end__card {
                    border-radius: 12px;
                    padding: 50px;

                    img {
                        height: 100px;
                        width: 100px;
                    }

                    .acym__splashcreen__body__end__card__title {
                        font-weight: 800;
                        font-size: 16px;
                        line-height: 39px;
                    }

                    .acym__splashcreen__body__end__card__text {
                        font-size: 12px;
                        line-height: 19px;
                        text-align: center;
                        color: #6D6D6D;
                    }

                    .acym__splashcreen__body__end__card__minicard {
                        border: 0.5px solid rgba(1, 8, 74, 0.08);
                        border-radius: 8px;
                        padding: 5px;
                        background-color: $white;

                        .acym__splashcreen__body__end__card__minicard__title__text {
                            font-size: 10px;
                            line-height: 12px;
                            color: #6D6D6D;
                        }
                    }
                }
            }
        }

        .acym__splashcreen__footer {
            padding: 50px 10px;
            background-color: #010748;
            border-bottom-left-radius: 23px;
            border-bottom-right-radius: 23px;
            margin: 0 !important;

            img {
                max-width: 37px;
            }
        }
    }
}
