#acym_wrapper {
    #acym__dashboard {
        .acym__dashboard__card {
            margin-left: 0;

            .acym__dashboard__one-card {
                position: relative;
                display: flex;
                text-align: center;
                flex-direction: column;
                margin-top: 20px;

                .acym__dashboard__card__picto {
                    border-radius: 100px;
                    height: 100px;
                    width: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;

                    i {
                        font-size: 48px;
                        line-height: 1;
                    }
                }

                .acym__dashboard__card__picto__audience {
                    background-color: $blue-light;

                    .acym__dashboard__card__icon__audience {
                        color: $blue-primary;
                    }
                }

                .acym__dashboard__card__picto__campaigns {
                    background-color: $green-light;

                    .acym__dashboard__card__icon__campaigns {
                        color: $green-secondary;
                    }
                }

                .acym__dashboard__card__picto__automation {
                    background-color: $red-light;

                    .acym__dashboard__card__icon__automation {
                        color: $red-secondary;
                    }
                }

                .acym__dashboard__card__title {
                    font-size: 16px;
                    margin-top: 20px;
                    color: $color-palette-dark-blue;
                }

                hr {
                    margin: 14px 0;
                    width: 100%;
                }

                .acym__dashboard__card__link {
                    display: inline-block;
                    font-size: 14px;
                    padding: 12px 8px 0 8px;
                    transition: .2s;
                    text-decoration: underline;
                    color: $blue;

                    .acym__dashboard__card__link__unclickable {
                        user-select: none;
                        color: $dark-gray;
                        font-weight: $font-weight-semi-bold;
                    }

                    &:hover {
                        color: $dark-gray;
                    }
                }
            }
        }

        .acym__dashboard__active-campaigns {
            position: relative;
            margin-top: 30px;
            margin-bottom: 30px;

            .acym__dashboard__active-campaigns__none {
                text-align: center;
                font-size: 17px;
            }

            .acym__dashboard__active-campaigns__one-campaign {
                padding: 20px 0 20px 0;

                .acym__dashboard__active-campaigns__one-campaign__title {
                    font-size: 16px;
                }

                .acym__dashboard__active-campaigns__one-campaign__state {
                    border-radius: 5px;
                    font-weight: bold;
                    line-height: 21px;
                    max-height: 25px;

                    span {
                        color: $white;
                        font-weight: 500;
                        vertical-align: sub;
                    }
                }

                .acym__dashboard__active-campaigns__one-campaign__action {
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }

        @media screen and(max-width: 639px) {
            .acym__dashboard__active-campaigns__one-campaign {
                text-align: center;

                .acym__dashboard__active-campaigns__one-campaign__title, .acym__dashboard__active-campaigns__one-campaign__action {
                    padding: 20px 0 20px 0;
                }
            }
        }

        @media screen and(min-width: 639px) {
            .acym__dashboard__active-campaigns__one-campaign__action {
                font-size: 16px;
                text-align: right;
                cursor: pointer;
            }
        }
    }
}
