#acym_wrapper {
    #acym__dashboard {
        .community-icons {
            padding: 21px;
            background-color: $light-blue;
            border-radius: 60px;
            color: $blue-night-primary;
            font-size: 28px;
        }

        .separator {
            background-color: $medium-gray;
            height: 1px;
            border-radius: 2px;
            display: block;
            margin: 11px 5px;

            &.acym__dashboard__light__separator {
                background-color: $light-blue;
            }
        }

        .beginner-stepper {
            list-style: none;
        }

        .gap-1 {
            gap: 1rem;
        }

        .flex {
            flex: 1;
        }

        .acym__dashboard__title {
            font-size: 1.3rem;
            margin-bottom: 0;
        }

        #prevBtn, #nextBtn {
            cursor: pointer;
        }

        .sliderCommunity {
            overflow: hidden;
            width: 100%;
            position: relative;
        }

        .slides-wrapper {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .slide-group {
            display: flex;
            flex-direction: column;
            width: 100%;
            flex: 0 0 auto;
        }

        .slide {
            width: 100%;
            box-sizing: border-box;
        }

        .disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: default;
        }

        .small-icon {
            padding-left: .3rem;
            font-size: 1rem;
        }

        .acym__dashboard__card {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .acym__dashboard__stats__wrapper .cell {
            flex: 1;
            max-width: 100%;
        }

        .acym__dashboard__stats__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1.5rem 0.875rem;
        }

        .acym__dashboard__stats__text__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
            min-width: 70%;
        }

        .acym__dashboard__number {
            font-size: 1.5rem;
            display: block;
            color: $blue-night-primary;
            margin-bottom: 0.8rem;
        }

        .acym__dashboard__percentage {
            font-size: 0.8rem;
            display: block;
        }

        .acym__dashboard__stats__icon {
            font-size: 3.5rem;
            text-align: center;
            color: #00A4FF;
        }

        .acym__dashboard__stats__title {
            font-size: 1rem;
            text-align: center;
            margin-bottom: 0.8rem;
            line-height: 1rem;
        }

        .acym__dashboard__campaign__paused {
            color: map-get($foundation-palette, alert-dark);
            background-color: map-get($foundation-palette, alert-light);
            padding: .25rem .5rem;
            border-radius: 3rem;
        }

        .acym__dashboard__campaign__active {
            color: $blue-night-primary;
            background-color: $light-blue;
            padding: .25rem .5rem;
            border-radius: 3rem;
        }

        .skeleton {
            width: 50%;
            height: 20px;
            background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
            background-size: 200% 100%;
            border-radius: 4px;
            animation: loading 1.5s infinite linear;
        }

        @keyframes loading {
            from {
                background-position: 200% 0;
            }
            to {
                background-position: -200% 0;
            }
        }

        .subscibersWrapperPart {
            align-items: center;
            flex: 1;
            justify-content: center;
            display: flex;
        }

        .horizontalSeparator {
            border-right: 1px solid lightgray;
        }

        .listItemWrapper {
            display: flex;
            flex-direction: column;
        }

    }

    @mixin notificationIcon($level) {
        @if $level == 'warning' {
            .acym__dashboard__notification__icon i {
                background-color: map-get($foundation-palette, warning-light);
                color: map-get($foundation-palette, warning);
            }
        } @else {
            .acym__dashboard__notification__icon i {
                background-color: map-get($foundation-palette, alert-light);
                color: map-get($foundation-palette, alert-dark);
            }
        }
        .acym__dashboard__notification__icon i {
            font-size: 2rem;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            text-align: center;
            line-height: 50px;
        }
    }

    .acym__dashboard__notification {
        align-items: center;

        .acym__dashboard__notification__message {
            margin: .7rem 0;
        }

        .acym__dashboard__notification__delete {
            font-size: 1.3rem;
            cursor: pointer;
        }

        .acym__dashboard__notification__date {
            font-size: .7rem;
            color: $medium-gray;
        }

        &.acym__dashboard__notification__warning {
            @include notificationIcon('warning');
        }

        &.acym__dashboard__notification__error {
            @include notificationIcon('error');
        }
    }

    .acym__do__not__remindme {
        font-size: 14px;
        text-decoration: underline;
        margin-left: 0;
        display: inline-block;
        cursor: pointer;
    }

    .acym__dashboard__empty {
        font-size: 0.875rem;
    }

    @media screen and (max-width: 1024px) {
        .acym__dashboard__stats__wrapper {
            flex-direction: column;
            align-items: center;
        }

        .acym__dashboard__small__wrapper {
            display: flex;
            flex-direction: column;
        }
    }
}
