@import "../gopro/gopro";
@import "../dynamics/content";
@import "../configuration/listing";

#acym_wrapper {
    .acym__walkthrough__main {
        min-height: 340px;
    }

    .button {
        height: 40px;
    }

    a.button-gopro {
        background-color: $yellow-gopro;
        border-color: $yellow-gopro;
        color: $black;

        &:hover {
            background-color: $yellow-gopro;
            border-color: $yellow-gopro;
            color: $black;
            font-size: medium;
        }
    }

    .acym__walkthrough__discover {
        background-color: #def0ff;

        h2 {
            font-size: 1.4rem;
        }
    }

    .acym__walkthrough__card {
        background-color: #fff;
        border-radius: $border-radius;
    }

    .acym__gopro__images_vertical {
        width: auto;
        max-height: 245px;
    }

    &[class^="dashboard_step_"] {
        #acym_header {
            #checkVersionArea, #checkVersionButton {
                visibility: hidden;
            }

            .acym__header__notification {
                display: none;
            }
        }
    }

    .acym__title {
        font-weight: 400;
    }

    #acym__walkthrough__thank_you {
        h1.acym__main_title {
            margin-top: 4.5rem;
        }

        .acym__gopro__footer__title{
            font-size: 1.2rem;
        }
    }

    #acym__walkthrough__license {
        #acym__walkthrough__license__spinner__attach, #acym__walkthrough__license__spinner__cron {
            width: fit-content;
            height: fit-content;
            margin-top: .4rem;
        }

        #acym__walk_through_license__licenseStatus, #acym__walk_through_license__cron_label {
            line-height: 2;
        }
    }

    #acym__walkthrough__final {
        #acym__pricing__page, #acym__cname__documentation {
            color: $blue-primary;
            text-decoration: underline;
        }
    }

    #acym__walkthrough__acymailer {
        #acym__cname__documentation {
            color: $blue-primary;
            text-decoration: underline;
        }

        #acym__acymailer__unverifiedDomains {
            position: absolute;
        }

        .cname-name, .cname-value {
            cursor: pointer;
        }

        .acym__walkthrough_footer {
            background-color: $light-blue-new;
            border-bottom-right-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }
    }

    #acym__walkthrough__editor {
        #acym__wysid__email__preview {
            padding-bottom: 400px;
            overflow: hidden;
            box-shadow: 2px 2px 15px 2px $medium-gray;
        }

        #acym__wysid__edit .acym__content {
            box-shadow: none;
            padding: 0;
        }

        #acym__wysid__test__button, #acym__wysid__test__button + p {
            display: none;
        }
    }

    .acym__walkthrough__content {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .acym__walkthrough__footer {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .acym__walkthrough__card {
        margin-bottom: 1rem;
    }

    @media (max-width: 1440px) {
        .acym__walkthrough__card__left {
            margin-bottom: 3rem;
        }
    }
}


