#acym__list__settings {

    #acym__list__settings__actions .button {
        margin-bottom: 0 !important;
    }

    button.acym_template_option {
        padding: 5px 15px;
        width: 100%;
        border: 4px dashed transparent;
        cursor: pointer;
    }

    #acym__list__settings__list-id, #acym__lists__settings__list-color {
        font-size: 1rem;
        @media screen and (max-width: 639px) {
            line-height: inherit;
            margin-bottom: 1rem;
        }
    }

    .acym__list__settings__subscriber__nb {
        .acym__list__settings__subscriber__nb__display {
            font-size: 1rem;
        }

        .acym__stats__left {
            margin-bottom: 0.5rem;
            padding: 0 .5rem;
            text-align: right;

            &:dir(rtl) {
                text-align: left;
            }
        }

        .acym__stats__right {
            margin-bottom: 0.5rem;
            padding: 0 .5rem;
            text-align: left;

            &:dir(rtl) {
                text-align: right;
            }
        }
    }

    .acym__list__button__add__mail {
        .acym__list__button__add__mail__disabled {
            font-size: 70px;
            color: #e3e3e3;
        }
    }

    .acym__list__settings__tmpls {
        min-height: 320px;

        .acym__list__settings__tmpls__welcome {
            border-right: 2px solid $very-light-gray;
            border-left: 2px solid $very-light-gray;
        }

        .acym__list__settings__tmpls__title {
            border-bottom: 2px solid $very-light-gray;

            label {
                font-weight: 500;
                cursor: default;
            }
        }
    }

    .acym__list__settings__subscribers {
        .acym__listing {
            .acym__listing__header__title:first-child {
                padding-left: 0;
            }

            .acym__listing__row {
                padding: 0.6rem 1rem;
            }
        }

        .acym__list__settings__subscribers__users--action {
            text-align: right;
            cursor: pointer;

            i {
                line-height: 22px;
                font-size: 22px;
                vertical-align: middle;
                color: map-get($foundation-palette, alert);
            }

            span {
                margin-left: 5px;
                color: map-get($foundation-palette, alert);
            }
        }

        .acym__list__settings__subscribers__listing {
            height: 25rem;
            overflow: auto;
            align-content: baseline;
        }

        .acym__list__subscribers__loading {
            svg {
                width: 30px;
                height: 30px;

                .acym__svg__loader {
                    fill: none;
                    stroke: $primary-color;
                    stroke-width: 15px;
                    stroke-dasharray: 500;
                    animation: dash 3.5s linear infinite;
                }
            }

            .acym__list__subscribers__loading__title {
                font-size: 1.2rem;
                font-weight: 500;
            }
        }

        .acym__list__settings__subscribers__order {
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    #acym__list__settings__stats__evol {
        height: 400px;
        width: 100%;
        padding: 60px 15px 30px 15px;
        border: 1px solid $light-gray;
        border-radius: 10px;
    }

    @media screen and (max-width: 639px) {
        .acym__list__settings__subscriber__nb__display {
            margin-top: 0.5rem;
        }
        .acym__list__settings__tmpls .acym__list__settings__tmpls__welcome {
            border-left: none;
            border-right: none;
        }

        .acym__list__settings__tmpls .acym__list__settings__tmpls__title {
            border-bottom: none;
        }
    }

    .acym__lists__oneMail {
        position: relative;

        .acym__listing__block__delete {
            z-index: 1;
            position: absolute;
            top: 4px;
            right: 24px;
        }
    }
}

.dataTable__icon__size {
    font-size: 16px;
}

.list_order_gap {
    gap: 5px;
}

.acym__list__button__add__mail__welcome__unsub {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: $light-gray;
    box-shadow: 0 0 15px 2px #ebebeb;

    &:hover, &:focus {
        color: $white;

        i {
            font-size: 90px;
        }
    }

    i {
        transition: all .2s ease;
        font-size: 70px;
    }
}
