#acym_wrapper {
    .acym__front__archive {
        #acym__front__archive__search {
            input {
                width: 80%;
                min-width: 200px;
                display: inline-block;
                margin-right: 1rem;
                margin-bottom: .5rem;
            }

            button {
                width: 15%;
                min-width: 120px;
                display: inline-block;
            }
        }

        .acym__modal__iframe.acym__front__not_connected_user {
            height: 83%;
        }

        .acym__modal__handle, .acym__front__archive__raw {
            cursor: pointer;
            font-size: 15px;
            font-weight: 500;
            margin: 0;
        }

        .acym__front__archive__newsletter_sending-date {
            color: #8a8a8a;
            font-size: 11px;
        }

        .acym__front__archive__title {
            font-size: 22px;
            font-weight: 700;
            line-height: 1.4;
        }
    }
}

.widget-area {
    .acym__front__archive__title {
        display: none;
    }
}

#bild {
    display: none !important;
}
