.archive_view {
    .hideonline {
        display: none !important;
    }

    .revealonline {
        display: block !important;
    }
}

.contentpane {
    .archive_view {
        .row {
            margin-left: inherit;
        }
    }
}
