.acym_unsubscribe {
color: black !important;
font-size: 10px !important;
text-decoration: underline black !important;
}

.acymailing_content p{
font-size: 13px !important;
}

.acydescription p{
text-align: center !important;
}