.acym__mailbox__edition__configuration__test {
    #acym__mailbox__edition__configuration__test-loader {
        font-size: 15px;
    }

    .acymicon-spin {
        display: none;
    }

    #acym__mailbox__edition__configuration__test-icon {
        display: none;
        margin-left: .5rem;
        font-size: 15px;
    }

    #acym__mailbox__edition__configuration__test-result {
        font-size: 1rem;
    }
}
