#acym_wrapper {
    @import "mailSettings";
    @import "queueProcess";
    @import "subscription";
    @import "bounces";
    @import "dataCollection";
    @import "security";
    @import "languages";

    &.configuration_listing {
        .acym__configuration__upgrade__license {
            .acym__configuration__upgrade__license__images {
                width: 250px;
            }

            .acym__configuration__upgrade__license__images__larger {
                width: 400px;
            }

            .acym__configuration__upgrade__license__text {
                align-content: baseline;

                h3 {
                    font-size: 1.1rem;
                }
            }

            .acym__configuration__upgrade__license__separator {
                border-bottom: 2px solid $light-blue;
                margin: 2rem 0;
            }
        }

        .acym__configuration__advanced {
            .acym__configuration__mail__info__disabled {
                color: $white;
            }
        }

        [type="checkbox"] + label.switch-label {
            margin-left: 0;
        }

        .input__in__checkbox {
            margin-top: -6px !important;
        }

        select.intext_select {
            width: 150px;

            + .select2 {
                margin-bottom: 0 !important;
                vertical-align: middle;
            }
        }

        .acym_auto_tasks .select2, .acym_auto_send_time .select2 {
            width: 50px !important;
        }

        .select2-search--inline {
            display: contents; /*this will make the container disappear, making the child the one who sets the width of the element*/
        }

        .select2-search__field:placeholder-shown {
            width: 100% !important; /*makes the placeholder to be 100% of the width while there are no options selected*/
        }

        .acym__configuration__content {
            padding: 0 20px;
        }
    }

    .acym_invalid_field {
        border: 1px solid #9d261d !important;
        background: #f2dede !important;
    }

    #acymailer_domain_error {
        color: red;
    }

    #acym__configuration__sending__method_addDomain_submit {
        height: 40px;
    }

    #acym__configuration__acymailer__add__error {
        display: none;
    }

    #acymailer_info_icon {
        color: map-get($foundation-palette, primary-hot);
        margin-right: 0.5rem;
        font-size: 17px;
    }

    #activate_ass_method_notice {
        background-color: $light-blue;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    #scanfiles_button {
        height: fit-content;
    }

    #acym__configuration__acymailer__verify-license {
        margin-left: 20px;
    }

    .acym__configuration__acymailer__check-license {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .acym__mailbox__edition__configuration__test {
        .acymicon-spin {
            display: none;
        }

        #acym__mailbox__edition__configuration__test-icon {
            display: none;
            margin-left: .5rem;
            font-size: 15px;
        }
    }

    .acym__unsub__image__remove, .acym__unsub__logo__remove {
        cursor: pointer;
    }
}
