#acym_wrapper {
    &.configuration_listing {
        .acym__configuration__upgrade__license {
            .acym__configuration__upgrade__license__images {
                width: 250px;
            }

            .acym__configuration__upgrade__license__images__larger {
                width: 400px;
            }

            .acym__configuration__upgrade__license__text {
                align-content: baseline;

                h3 {
                    font-size: 1.1rem;
                }
            }

            .acym__configuration__upgrade__license__separator {
                border-bottom: 2px solid $light-blue;
                margin: 2rem 0;
            }
        }

        #acym__configuration__subscription__page {
            font-size: .7rem;
            text-decoration: underline;
            color: $font-primary;
        }

        #acym__configuration__languages {
            .acym__configuration__languages__listing {
                .acym__listing__header__title:first-child {
                    padding-left: 0;
                }
            }
        }

        #sending_method_options {
            margin-top: 30px;

            .acym__configuration__mail__settings__text, .acym__configuration__sending__method-test {
                margin-bottom: 0;
            }
        }

        .acym__configuration__advanced {
            .acym__configuration__mail__info__disabled {
                display: none;
            }
        }

        #available_ports {
            max-width: 900px;

            a {
                color: cornflowerblue;
            }
        }

        #dkim_config {
            input {
                font-size: 13px;

                &[type="text"] {
                    display: inline;
                    width: 200px;
                    height: 32px;

                    &#dkim_domain {
                        width: 200px;
                    }

                    &#dkim_key {
                        width: 120px;
                        font-size: 10px;
                    }

                    &#dkim_value {
                        width: 220px;
                        font-size: 10px;
                    }
                }
            }

            textarea {
                font-size: 13px;
                height: 200px;
                max-width: 480px;
            }
        }

        [type="checkbox"] + label.switch-label {
            margin-left: 0;
        }

        .input__in__checkbox {
            margin-top: -6px !important;
        }

        select.intext_select {
            width: 150px;

            + .select2 {
                margin-bottom: 0 !important;
                vertical-align: middle;
            }
        }

        .acym_auto_tasks .select2 {
            width: 50px !important;
        }

        #checkdb_report {
            padding-top: 5px;
        }

        .acym__configuration__content {
            padding: 0 20px;
        }

        .acym__configuration__acl__row {
            position: relative;

            [id$="_container"]:after {
                position: absolute;
                content: "";
                bottom: 1rem;
                height: 1px;
                width: 50%;
                left: 25%;
                background-color: lightgrey;
            }
        }

        .acym__configuration__edit-email {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #delete_stats_enabled, #delete_user_history_enabled {
        .intext_input {
            margin-right: .5rem;
        }
    }
}
