// -*- mode: css -*-

/****** Single SCSS *******/
.select2-container--sortBy{

    .select2-selection--single,
    .selection .select2-selection--single{
        height: $input-height-base;
        line-height: $global-lineheight;
        padding: ($form-spacing / 2);

        .select2-selection__rendered{
            color: $input-color;
            line-height: 13px;
        }
        .select2-selection__arrow{
            height: $input-height-base;
            position: absolute;
            top: 0;
            right: 1px;
            width: 20px;
            margin-top: -7px;
            b{
                border-color: $select-triangle-color transparent transparent transparent;
                top: 50%;
                border-style: solid;
                border-width: 6px 4px 0 4px;
                height: 0;
                left: 50%;
                margin-left: -4px;
                margin-top: -2px;
                position: absolute;
                width: 0;
            }
        }
        .select2-selection__placeholder{
            color: $input-color-placeholder;
        }
        .select2-selection__arrow b{

        }
        .select2-selection__clear{
            cursor: pointer;
            float: right;
            font-weight: bold;
        }
    }
}