#acym_wrapper {
    .gopro_header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .acym__gopro__image__bigger {
        width: auto;
        max-height: 250px;
    }

    .acym__gopro__images {
        width: auto;
        max-height: 200px;
    }

    .acym__gopro__images_container {
        position: relative;
        min-height: 245px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;

        img {
            position: absolute;
        }

        .acym__gopro__transat {
            bottom: 0;
            margin-left: -115px;
        }
    }

    .acym__gopro__text {
        align-content: center;
        flex: 1;
        text-align: left;
        margin-right: 20px;

        h2 {
            font-size: 2rem;
            font-weight: normal;
        }

        h3 {
            font-size: 1.1rem;
        }
    }

    .acym__gopro__separator {
        border-bottom: 2px solid $light-blue;
        margin: 1rem 0;
    }

    .acym__gopro__blueblock {
        background-color: $color-palette-dark-blue;

        p, h3, i {
            color: white;
        }
    }

    .acym__gopro__footer {
        border-radius: $border-radius;
        display: flex;
        align-items: start;
    }

    .acym__gopro__footer__i {
        margin: 0;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .acym__gopro__footer__title {
        font-size: 1.4rem;
        margin: 0;
        display: flex;
        align-items: start;
    }

    .acym__gopro__white__container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 1.6rem;
        background-color: $white;
        border-radius: $border-radius;
    }

    .acym__gopro__content {
        gap: 2rem;
        margin-bottom: 2rem;
        width: 100%;
    }
}
