$color-palette-dark-blue: #01095e;
$color-palette-cyan: #00A4FF;
$color-palette-light-blue: #ECF8FF;
$color-palette-black: #202020;
$color-palette-dark-text: #454545;

$blue-green: #0F7DBA;
$light-orange: #fce5ce;
$orange: #ffa639;

$foundation-palette: (
        primary: #0079d3,
        primary-light: $color-palette-cyan,
        primary-hot: #5d77ff,
        secondary: #767676,
        success: #3dea91,
        warning: #ffab15,
        alert: #ff5259,
);
$editor-wysid-palette: (
        primary: #2f3d45,
        secondary: #e6f2fb,
        primary-ui:#00a3fe,
        secondary-ui: #b9b9b9,
        alert: #ff5259,
);

$dark-red: #69282e;
$red: #e83243;
$light-blue: #daf0fe;
$blue: #60C6FF;
$dark-blue: #0ca0e4;
$green: #4dd64d;
$black: #0a0a0a;
$white: #fefefe;
$gold: #ffc233;

$very-light-gray: #f1f1f1;
$light-gray: #e3e3e3;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$very-dark-gray: #444444;

$primary-color: map-get($foundation-palette, primary);
$tabs-background: #f6f6f6;
$primary-color-unselected: #beddf7;

$font-primary: #303e46;
$font-primary-light: #939294;
$font-secondary: #9bced7;
$alert-light: #ffedee;

$green-opacity: rgba(62, 234, 145, 0.4);
$blue-opacity: rgba(0, 121, 210, 0.4);
$red-opacity: rgba(255, 82, 89, 0.4);
$orange-opacity: rgba(255, 171, 21, 0.4);

$white: $white;
$body-font-color: $black;
$global-color-pick-contrast-tolerance: 0;
$print-transparent-backgrounds: true;
$secondary-toolbar-color: #eaeaf2;
$font-color-toolbar: #303030;
$more-options-toggled-toolbar-light: rgba(1, 9, 94, .05);
$light-blue-border: rgba(0, 164, 255, 0.16);
