// new design system
// Primaires
$dark-grey-primary: #303e46; // dark grey
$blue-night-primary: #01095e; // bleu nuit
$blue-primary: #00a4ff; // bleu

// Secondaires
$red-secondary: #ff5259; // rouge
$green-secondary: #6ef9c4; // vart "validé"
$blue-secondary: #0079d3; // bleu moyen

// Background
$blue-light: #e5f6fe; // bleu clair
$green-light: #ecfdf3; // vert clair
$red-light: #feeeef; // rouge clair
$grey-light: #f1f1f1; // gris clair
// new design system

$color-palette-dark-blue: $blue-night-primary;
$color-palette-cyan: $blue-primary;
$color-palette-light-blue: $blue-light;
$color-palette-black: #202020;
$color-palette-dark-text: $dark-grey-primary;

$blue-green: $blue-secondary;
$orange-light: #fce5ce;
$orange: #ffa639;

$foundation-palette: (
        primary: #0079d3,
        primary-light: $color-palette-cyan,
        primary-hot: #5d77ff,
        secondary: #767676,
        success: $green-secondary,
        warning: #ffab15,
        alert: #ff5259,
);

$editor-wysid-palette: (
        primary: #2f3d45,
        secondary: #e6f2fb,
        primary-ui:#00a3fe,
        secondary-ui: #b9b9b9,
        alert: #ff5259,
);

$dark-red: #69282e;
$red: #e83243;
$light-blue: #daf0fe;
$blue: #60C6FF;
$dark-blue: #0ca0e4;
$green: #4dd64d;
$black: #0a0a0a;
$white: #fefefe;
$white: #ffffff;
$gold: #ffc233;

$very-light-gray: #f1f1f1;
$light-gray: #e3e3e3;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$very-dark-gray: #444444;

$primary-color: map-get($foundation-palette, primary);
$tabs-background: #f6f6f6;
$primary-color-unselected: #beddf7;

$font-primary: #303e46;
$font-primary-light: #939294;
$font-secondary: #9bced7;
$alert-light: #ffedee;

$green-opacity: rgba(62, 234, 145, 0.4);
$blue-opacity: rgba(0, 121, 210, 0.4);
$red-opacity: rgba(255, 82, 89, 0.4);
$orange-opacity: rgba(255, 171, 21, 0.4);

$white: $white;
$body-font-color: $black;
$global-color-pick-contrast-tolerance: 0;
$print-transparent-backgrounds: true;
$secondary-toolbar-color: #eaeaf2;
$font-color-toolbar: #303030;
$more-options-toggled-toolbar-light: rgba(1, 9, 94, .05);
$light-blue-border: rgba(0, 164, 255, 0.16);
