$dropdown-padding: 0.8rem;
$dropdown-background: $black;
$dropdown-border: 0 solid $medium-gray;
$dropdown-font-size: 0.8rem;
$dropdown-width: auto;
$dropdown-radius: $global-radius;
$dropdown-sizes: (
        tiny: 100px,
        small: 200px,
        large: 400px,
);

$dropdownmenu-arrows: true;
$dropdownmenu-arrow-color: $anchor-color;
$dropdownmenu-arrow-size: 6px;
$dropdownmenu-arrow-padding: 1.5rem;
$dropdownmenu-min-width: 200px;
$dropdownmenu-background: $white;
$dropdownmenu-submenu-background: $dropdownmenu-background;
$dropdownmenu-padding: $global-menu-padding;
$dropdownmenu-nested-margin: 0;
$dropdownmenu-submenu-padding: $dropdownmenu-padding;
$dropdownmenu-border: 1px solid $blue-light;
$dropdown-menu-item-color-active: get-color(primary);
$dropdown-menu-item-background-active: transparent;