@mixin acym_vcenter() {
    align-items: center;
    display: flex;
}

@mixin acym_set_position($top: 0, $bottom: 0, $left: 0, $right: 0) {
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}