$has-tip-cursor: "";
$has-tip-font-weight: inherit;
$has-tip-border-bottom: dotted 0 $dark-gray;
$tooltip-background-color: $black;
$tooltip-color: $white;
$tooltip-padding: 0.5rem;
$tooltip-max-width: 10rem;
$tooltip-font-size: 12px;
$tooltip-pip-width: 0.75rem;
$tooltip-pip-height: $tooltip-pip-width * 0.866;
$tooltip-radius: $global-radius;