fieldset {
    margin-bottom: 1rem;
}

select {
    background-image: none;
}

input[type="radio"] {
    margin: 0 5px 0 0;

    + label {
        display: inline-block;
        margin-right: 5px;
    }
}
