.acym__listing {

    .acym__listing__header {
        padding: .5rem 0 .5rem 1rem;

        .acym__listing__header__title:first-child {
            padding-left: 0;
        }
    }

    .acym__listing__row {
        padding: 1rem 0 1rem 1rem;
    }

    .acym__listing__title {
        padding-left: 0;
    }

    .acym__listing__title__container, .acym__listing__header__title__container {
        margin-left: 5px;
    }
}