@import "../../settings";

#acym_wrapper {
    [type='search'].select2-search__field,
    [type='search'].select2-search__field:focus,
    [type='search'].select2-search__field:hover,
    [type='search'].select2-search__field:active {
        border: 0;
        box-shadow: none;
        margin: 0;
        min-width: 50px;
        border-radius: $primary-radius;
        background-color: $light-blue;
    }

    .select2-selection__rendered {
        margin: 0;
        padding: 0;
        font-size: 0.9rem;

        .select2-selection__clear {
            margin-right: 14px;
        }
    }

    .select2-selection__choice {
        margin: 6px 0 0 5px;
        padding: 2px 5px;
        line-height: 23px;
        border-radius: $primary-radius;
        background-color: $primary-color;
        color: $white;
        border: none;
        font-size: 12px;

        .select2-selection__choice__remove {
            float: right;
            color: $white;
            margin-left: 5px;
        }
    }

    .select2-selection--multiple, .select2-container--foundation .select2-selection--single, .select2-container--foundation .selection .select2-selection--single {
        border-radius: $primary-radius;
        background-color: $light-blue;
        border-color: $light-blue;
        box-shadow: none;
    }

    .select2-container--sortBy .selection .select2-selection--single {
        background-color: $white;
        border: none;
        box-shadow: none;
    }

    .select2-container--foundation .select2-selection--single, .select2-container--foundation .selection .select2-selection--single {
        line-height: 1.39;
    }

    .select2-selection--multiple {
        line-height: 1px;
    }

    .select2-container {
        margin-bottom: 1rem;
        border-radius: $primary-radius;
        background-color: $light-blue;
    }
}

.select2-results__option {
    margin: 0;
}

.select2-results, .select2-search, .select2-search__field, .select2-results__option {
    background-color: $light-blue;
    box-shadow: none;
}

.select2-container.select2-container--foundation .select2-dropdown--below, .select2-container--open .select2-dropdown--below {
    border-color: $light-blue;
    border-radius: 0 0 $primary-radius $primary-radius;
}

.select2-container--foundation .select2-results__options .select2-results__option--highlighted[aria-selected], .select2-container--sortBy .select2-results__options .select2-results__option--highlighted[aria-selected] {
    background-color: map-get($foundation-palette, primary);
    color: $white;
}

// Sort By
.select2-container--sortBy .select2-results__option {
    background-color: $white;
    box-shadow: none;
}

.select2-container--sortBy .select2-dropdown {
    border: none;
    box-shadow: 2px 2px 15px 2px #ebebeb;
    border-radius: 4px;
    margin: 4px 0;
}

[aria-disabled="true"] {
    opacity: 0.5;
}

// Tags
#acym__tags__field {
    max-height: 39px;
}
