#acym_wrapper {
    #acym__email__new {
        .acym__email__new__title {
            font-size: 1.6rem;
            font-weight: 500;
        }

        .acym__email__new__card {
            padding: 20px;
            border: 2px solid $dark-gray;
            border-radius: 5px;
            cursor: pointer;
            transition: .2s;
            position: relative;

            &.acym__email__new__card__disabled {
                padding-bottom: 50px;

                &:hover {
                    cursor: not-allowed;
                }

                .acym__email__new__card__disabled__container_test {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    padding: 10px 10px;
                    background-color: $dark-gray;
                    color: $very-light-gray;
                }
            }

            &:not(.acym__email__new__card__disabled):hover {
                border-color: map-get($foundation-palette, primary-light);
            }

            &.acym__email__new__card-selected {
                background-color: $light-blue;
                border-color: map-get($foundation-palette, primary-light);
            }


            .acym__email__new__card__title {
                font-size: 1.2rem;
            }

            .acym__email__new__card__icon {
                font-size: 35px;
            }

            .acym__email__new__card__description {
                margin-bottom: 10px;
            }
        }
    }
}
