#acym_wrapper {
    #acym__campaign__sendsettings {
        .acym__campaign__sendsettings__send-type {
            position: relative;

            button {
                max-width: 300px;
            }
        }

        .acym__campaign__sendsettings__label-settings {
            font-size: 14px;
        }

        #acym__campaign__sendsettings__scheduled__send-date__label {
            padding: 8px;
            padding-left: 0;
        }

        .acym__campaign__sendsettings__params .acym__campaign__sendsettings__params__one {
            select:not([name="weeks_on[day][]"]) + .select2 {
                width: 100px !important;
            }
        }
    }
}
