.acym__campaign__summary__preview__languages {
    padding: 1rem .5rem .5rem .5rem;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;

    .acym__campaign__summary__preview__languages-one {
        padding: 0 0.5rem;
        border-radius: 4px;
        margin: 0 2rem;
        position: relative;

        &.acym__campaign__summary__preview__languages-one__empty {
            opacity: 0.5;

            img[acym-data-lang] {
                cursor: not-allowed;
            }
        }

        &:not(:last-of-type):after {
            content: "";
            top: 0;
            bottom: 0;
            right: -2rem;
            width: 2px;
            background-color: $light-gray;
            position: absolute;
        }

        &.language__selected {
            background: rgba(200, 200, 200, .5);
        }

        img[acym-data-lang] {
            cursor: pointer;
        }
    }
}
