#acym_wrapper {
    #campaigns_tests_step {
        margin-bottom: 4rem;

        .acym_zone_separator {
            border-right: 1px solid $light-gray;
        }
    }

    div.acym_vcenter#check_spam[data-open="spamtestpopup"] {
        display: flex;
    }

    #spamtestpopup {
        text-align: center;
    }

    .acym__iframe_spamtest {
        width: 98%;
        height: 100%;
        border: 0;
    }

    #email_checker_ad {
        a {
            margin: auto;
        }
    }

    #spam_test_zone {
        i:not(.acym__tooltip__info__icon) {
            font-size: 24px;
        }

        .acym_icon_green {
            color: #6ee89f;
        }

        .acym_icon_blue {
            color: #0179d3;
        }

        .acym_icon_red {
            color: #fb5e5e;
        }

        .acym_clickable {
            cursor: pointer;
        }

        .acym__campaigns__tests__starter {
            .acym_check_results {
                display: none;
            }
        }

        #safe_check_results > div.acym_vcenter {
            min-height: 30px;
        }

        .acym_check_results {
            padding: 10px;
            word-wrap: break-word;
        }
    }
}
